page-advertise {

  .hidden {
    display: none;
  }
  ion-item.video-type {
    padding: 0;
  }

  .p2v {
    float: left;
    width: 150px;
    padding: 10px;
    background-color: orange;

    font-weight: 800;
    text-align: center;
  }
  .v2e {
    float: right;
    width: 150px;
    padding: 10px;
    text-align: center;
    font-weight: 800;

    background-color: #38B84F;
  }

  .v2e small, .p2v small{
    font-weight: normal;
  }

  .header-logo-section, .header-title-section, .social-filter-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-logo-section {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }

  .header-title-section {
    color: #fff;
    font-size: 18px;
    margin-top: 0;
    padding: 10px 16px !important;
  }

  // added by toby
  .header-logo-section .user-icon {
    margin-top: -2px;
  }
  .logo-holder {
    img{
      height:60px;
      margin-top: 5px;
    }
  }

  ion-select{
    background:#2A273D !important;
    color:white !important;
  }

  //end added by toby

  .logo-holder {
    .svg {
      max-width: 170px !important;
      margin-left: -10px;
    }
  }
  .title-holder p {
    margin: 0;
  }
  .user-coins {
    display: flex;
    align-items: center;
    background: rgba(98, 94, 94, 0.25);
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 18px;
    img {
      max-height: 25px;
      width: 25px;
      margin-right: 5px;
    }
  }

  .camera-button, .video-button {
    margin-top: -30px;
    float: right;
    color: white;
    border: 1px solid white;
  }

  .camera-button ion-icon, .video-button ion-icon {
    color: white;
  }

  .camera-container, .video-container {
    margin-bottom: 45px;
  }

  ion-content {
    background-color: #2A273D !important;
  }
  p {
    color: #fff;
  }

  .greyed {
    background-color: #625E5E !important;
  }

  .social-filter-section {
    margin-top: 0;
    padding: 0 16px !important;
  }

  .advertise {
    border-top: 1px solid #fff;
    .task-type {
      p {
        color: #fff;
        margin: 0;
      }
    }
    .task-type-buttons {
      display: flex;
      justify-content: space-around;
      button {

        margin: 5px;
        border-radius: 5px;
        padding: 7px 20px;
        color: #fff;
        font-size: 12px;
      }
      .social {
        background: #FABC2F;
      }
      .video {
        background: #3A79BD;
      }
      .community {
        min-width: 102px;
        background: #D05A61;
      }
    }
    ion-item {
      background-color: transparent !important;
      border-top: none !important;
      border-bottom: none !important;
      padding-left: 0;
    }
    .item-block .item-inner {
      border-bottom: none !important;
    }
    .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
      border-bottom: none !important;
    }

    .text-input {
      margin-left: 0 !important;
      width: 100% !important;
      background: #fff !important;
      padding: 12px 10px !important;
      border-radius: 5px !important;
      font-size: 13px;
    }
    ion-label {
      color: #fff !important;
    }
    ion-datetime {
      background-color: #fff;
      padding: 12px 10px !important;
      color: #aaa;
      font-size: 13px;
      border-radius: 5px;
    }
    .action-buttons {
      display: flex;
      justify-content: flex-end;
      button {
        border-radius: 5px;
        padding: 15px 25px;
        color: #fff;
      }
      .cancel-btn {
        button {
          background: #B1252D;
          margin-right: 10px;
        }
      }
      .save-btn {
        button {
          background: #38B84F;
        }
      }
    }
  }

}
