<!--
  Generated template for the Advertise page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>

    <div class="header-logo-section" padding>
        <div class="logo-holder">
            <button ion-button clear class="slider-menu-button" menuToggle>
                <ion-icon ios="ios-menu" md="ios-menu" name="menu"></ion-icon>
                <ion-icon class="top-notification" *ngIf="userProvider.user.adNotifications + userProvider.user.taskNotifications > 0" color="danger" name="alert" ></ion-icon>
            </button>
            <img src="assets/svgs/logo.svg">
        </div>
        <div class="user-icon">
            <img (tap)="userDetail()" src="assets/svgs/user-icon.svg">
        </div>
    </div>


    <div class="header-title-section" padding>
        <div class="title-holder">
            <p>Advertise</p>
        </div>
        <div class="user-coins">
            <img src="assets/svgs/icons svg compressed-03.svg">{{userProvider.points}}
        </div>
    </div>

    <div class="advertise" padding>
        <div class="task-type">
            <p>Type of Task</p>
            <div class="task-type-buttons">
                <button col-4 class="social" (tap)="updateSection('social')" *ngIf="section == 'social'">Social</button>
                <button col-4 class="social greyed" (tap)="updateSection('social')" *ngIf="section != 'social'">Social
                </button>
                <button col-4 class="video" (tap)="updateSection('video')" *ngIf="section == 'video'">Video</button>
                <button col-4 class="video greyed" (tap)="updateSection('video')" *ngIf="section != 'video'">Video
                </button>
                <button col-4 class="community" (tap)="updateSection('community')" *ngIf="section == 'community'">
                    Community
                </button>
                <button col-4 class="community greyed" (tap)="updateSection('community')" *ngIf="section != 'community'">Community
                </button>
            </div>
        </div>
        <ion-list>

            <div *ngIf="section != 'video'">
                <ion-item >
                    <ion-label stacked>Task Name</ion-label>
                    <ion-input placeholder="Enter Task Name"  [disabled]="loading" [(ngModel)]="name"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label stacked>Description</ion-label>
                    <ion-textarea placeholder="Full Description of the Task" autocomplete=“true” spellcheck=“true”  [disabled]="loading" rows="7" [(ngModel)]="longDescription"></ion-textarea>
                </ion-item>

                <ion-item>
                    <ion-label stacked>Expiration Date</ion-label>
                    <ion-datetime placeholder="Date task expires" displayFormat="MM/DD/YYYY" [min]="minDate" [max]="maxDate" [(ngModel)]="expiry" [disabled]="loading"></ion-datetime>
                </ion-item>


                <ion-item>
                    <ion-label stacked>Max Number of Users</ion-label>
                    <ion-input placeholder="Enter maximum number of users that can perform task" type="tel" [disabled]="loading" [(ngModel)]="maxUsers"></ion-input>
                </ion-item>


            </div>

            <div *ngIf="section == 'video'">
                <ion-item >
                    <ion-label stacked>Video Title</ion-label>
                    <ion-input placeholder="Enter Video Title" [disabled]="loading" [(ngModel)]="name"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label stacked>Description</ion-label>
                    <ion-textarea placeholder="Full Description of Video" [disabled]="loading" rows="7" [(ngModel)]="longDescription"></ion-textarea>
                </ion-item>

                <ion-item>
                    <ion-label stacked>Expiration Date</ion-label>
                    <ion-datetime placeholder="Date video expires" displayFormat="MM/DD/YYYY" [(ngModel)]="expiry" [disabled]="loading"></ion-datetime>
                </ion-item>

                <ion-item>
                    <ion-label stacked>Max Number of Users</ion-label>
                    <ion-input placeholder="Enter maximum number of users that can view video" type="tel" [disabled]="loading" [(ngModel)]="maxUsers"></ion-input>
                </ion-item>


            </div>



            <ion-item *ngIf="section == 'community'">
                <ion-label stacked>Location</ion-label>
                <ion-select [disabled]="loading" [(ngModel)]="location">

                    <ion-option selected disabled="">Choose</ion-option>
                    <ion-option >Abuja</ion-option>
                    <ion-option >Abia</ion-option>
                    <ion-option >Adamawa</ion-option>
                    <ion-option >Anambra</ion-option>
                    <ion-option >Akwa Ibom</ion-option>
                    <ion-option >Bauchi</ion-option>
                    <ion-option >Bayelsa</ion-option>
                    <ion-option >Benue</ion-option>
                    <ion-option >Borno</ion-option>
                    <ion-option >Cross River</ion-option>
                    <ion-option >Delta</ion-option>
                    <ion-option >Ebonyi</ion-option>
                    <ion-option >Enugu</ion-option>
                    <ion-option >Edo</ion-option>
                    <ion-option >Ekiti</ion-option>
                    <ion-option >Gombe</ion-option>
                    <ion-option >Imo</ion-option>
                    <ion-option >Jigawa</ion-option>
                    <ion-option >Kaduna</ion-option>
                    <ion-option >Kano</ion-option>
                    <ion-option >Katsina</ion-option>
                    <ion-option >Kebbi</ion-option>
                    <ion-option >Kogi</ion-option>
                    <ion-option >Kwara</ion-option>
                    <ion-option >Lagos</ion-option>
                    <ion-option >Nasarawa</ion-option>
                    <ion-option >Niger</ion-option>
                    <ion-option >Ogun</ion-option>
                    <ion-option >Ondo</ion-option>
                    <ion-option >Osun</ion-option>
                    <ion-option >Oyo</ion-option>
                    <ion-option >Plateau</ion-option>
                    <ion-option >Rivers</ion-option>
                    <ion-option >Sokoto</ion-option>
                    <ion-option >Taraba</ion-option>
                    <ion-option >Yobe</ion-option>
                    <ion-option >Zamfara</ion-option>
                </ion-select>
            </ion-item>



            <ion-item class="video-type" *ngIf="section == 'video'">
                <div class="p2v" (tap)="setVideo('videop2v')" [ngClass]="{'greyed' : videoType == 'videov2e'}">
                    Pay to View <br>
                    <small>Users pay you for <br> watching your video</small>
                </div>
                <div class="v2e" (tap)="setVideo('videov2e')" [ngClass]="{'greyed' : videoType == 'videop2v'}">
                    View to Earn <br>
                    <small>You pay users for <br> watching your video</small>
                </div>
            </ion-item>

            <!-- points for non video -->
            <ion-item *ngIf="section != 'video'">
                <ion-label stacked>Points</ion-label>
                <ion-input placeholder="Points to give a user for completing your task" type="tel" [disabled]="loading" [(ngModel)]="points"></ion-input>
            </ion-item>
            <!-- end points for non-video -->

            <ion-item *ngIf="videoType == 'videop2v' && section == 'video'">
                <ion-label stacked>Points</ion-label>
                <ion-input placeholder="Points to earn when a user views your video" type="tel" [disabled]="loading" [(ngModel)]="points"></ion-input>
            </ion-item>

            <ion-item *ngIf="videoType == 'videov2e'">
                <ion-label stacked>Points</ion-label>
                <ion-input placeholder="Points to give a user for watching your video" type="tel" [disabled]="loading" [(ngModel)]="points"></ion-input>
            </ion-item>

            <ion-item *ngIf="section =='social'">
                <ion-label stacked>Duration of Verification (In days)</ion-label>
                <ion-input placeholder="Duration of Verification" type="tel" [disabled]="loading" [(ngModel)]="verificationDuration"></ion-input>
            </ion-item>

        </ion-list>

        <div class="camera-container" *ngIf="section == 'community'">
            <ion-label stacked>Add Images
            <br>
                <small>{{images.length}} Images selected</small>
            </ion-label>

            <input type="file" class="hidden" #uploadImages multiple="" (change)="addImages($event.target.files)" id="uploadImages" />

            <button class="camera-button" outline ion-button icon-only (tap)="photoAction()">
                <ion-icon name="camera"></ion-icon>
            </button>

        </div>

        <div class="video-container" *ngIf="section == 'video'">
            <ion-label stacked>Choose Video
                <br>
                <small *ngIf="files.length <= 0">No Video selected</small>
                <small *ngIf="files.length > 0">{{files.length}} Video selected</small>

            </ion-label>

            <input type="file" accept=".mp4,video/*" class="hidden" #uploadVideo (change)="addVideo($event.target.files)" id="uploadVideo" />

            <button class="video-button" outline ion-button icon-only (tap)="videoAction()">
                <ion-icon name="videocam"></ion-icon>
            </button>

        </div>


        <div class="action-buttons">
            <div class="cancel-btn">
                <button *ngIf="!loading">Cancel</button>
            </div>
            <div class="save-btn">
                <div align="center">
                    <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
                </div>

                <button *ngIf="section == 'social' && !loading"  (tap)="startSocialTask()">Save</button>
                <button *ngIf="section == 'video' && !loading" (tap)="startVideoTask()">Save</button>
                <button *ngIf="section == 'community' && !loading" (tap)="startCommunityTask()">Save</button>
            </div>
        </div>
    </div>

</ion-content>
