page-landing {

  ion-content{
    background-color: #2A273D !important;
  }
  div.topSection{
    margin-top:10px;
    text-align: center;
  }
  .topImage {
    max-width: 80%;
  }
  ion-slides{
    height:50vh;
    max-height: 50vh !important;
  }
  ion-slides .slide1 {
    max-height: 40vh !important;
    min-height: 40vh !important;
  }
  .swiper-pagination-bullet {
    background: #FABC2F;
    opacity: 1;
  }
  .swiper-pagination-bullet-active {
    background: #FFF;
  }
  .slide-zoom img {
    margin-top: -100px;
  }
  .cashout {
    margin-top: 15px;
    position: absolute;
    bottom: 10px;
    left: 16px;
    right: 16px;
  }
  p,h4{
    color: #fff;
    text-align: center;
  }
  p.action{
    font-size:12px;
    font-weight: 800;
  }
  div.get-started{
    margin-top:20px !important;
  }

}
