<!--
  Generated template for the LandingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content no-bounce>
    <div padding>
        <div class="topSection">
            <img class="topImage" src="assets/svgs/logo.svg">
        </div>
    </div>
        <ion-slides autoplay="3000" loop="true" speed="1000" pager>
            <ion-slide class="slide1" *ngFor="let slide of slideData">
                <img src="{{slide.image}}" />
            </ion-slide>
        </ion-slides>
    <div padding class="cashout">
        <h4 class="title">Cashout big on the go</h4>
        <p class="description">The strom network gives you big rewards in exchange for minimal tasks on the go</p>
        <div class="get-started">
            <p class="action" (tap)="goToIndex()">GET STARTED</p>
        </div>
    </div>
</ion-content>
