
<ion-tabs #myTabs>
  <ion-tab [root]="tab1Root" tabTitle="Offers" tabIcon="cog"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Advertise" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Invite" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab4Root"  tabTitle="Cashout" tabIcon="cash"></ion-tab>
</ion-tabs>
