.tabs-ios .tabbar {
  background: linear-gradient(180deg, #FFFFFF 0%, #DADADA 100%);
    //background-image: linear-gradient(#f8f8f8, #DADADA);
}
.tabs-ios .tab-button-text {
    margin-bottom: 6px;
}

.tabs-ios .tab-button[aria-selected=true] .tab-button-icon,
.tabs-md .tab-button[aria-selected=true] .tab-button-icon,
.tabs-ios .tab-button[aria-selected=true],
.tabs-md .tab-button[aria-selected=true] {
    color: #FABD30;
}

.ion-md-cog::before,.ion-ios-cog::before{
  content:url('../assets/svgs/offers.svg') !important;
}

.ion-md-cog-outline::before,.ion-ios-cog-outline::before{
  content:url('../assets/svgs/offers.svg') !important;
}


.ion-md-information-circle::before,.ion-ios-information-circle::before{
  content:url('../assets/svgs/advertise.svg') !important;
}

.ion-md-information-circle-outline::before,.ion-ios-information-circle-outline::before{
  content:url('../assets/svgs/advertise.svg') !important;
}

.ion-md-contacts::before,.ion-ios-contacts::before{
  content:url('../assets/svgs/invite.svg') !important;
}

.ion-md-contacts-outline::before,.ion-ios-contacts-outline::before{
  content:url('../assets/svgs/invite.svg') !important;
}

.ion-md-cash::before,.ion-ios-cash::before{
  content:url('../assets/svgs/cashout.svg') !important;
}

.ion-md-cash-outline::before,.ion-ios-cash-outline::before{
  content:url('../assets/svgs/cashout.svg') !important;
}
