
<ion-content padding no-bounce>

    <div class="topSection">
        <img class="topImage" src="assets/svgs/logo.svg">
    </div>
    <ion-list>
        <ion-item>
            <ion-label floating>Email Address</ion-label>
            <ion-input (ionFocus)="toggleTerms()" (ionBlur)="toggleTerms()" type="email" [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input (ionFocus)="toggleTerms()" (ionBlur)="toggleTerms()" type="password" [(ngModel)]="password" ></ion-input>
        </ion-item>
        <p class="sub right" (tap)="forgotPassword()">Forgot Password?</p>
        <ion-item class="move-up">
            <button class="strom-orange-button "></button>
        </ion-item>
    </ion-list>
    <button ion-button="" *ngIf="!loading" block (tap)="signIn()" class="strom-orange-button">SIGN IN</button>
    <button ion-button="" *ngIf="loading" block class="strom-orange-button" disabled>SIGNING IN</button>

    <p class="sub">Don't have an account? <span (tap)="goToSignUp()"><b>Sign up</b></span></p>

    <div align="center" *ngIf="loading" class="spinner">
        <ion-spinner name="crescent" ></ion-spinner>
    </div>

    <p *ngIf="showTerms" class="terms">By using this app you agree to the terms of service.</p>

</ion-content>
