<!--
  Generated template for the OffersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>

    <div class="header-logo-section" padding>
        <div class="logo-holder">
            <img class="topImage" (tap)="goBack()" src="assets/imgs/back.png">
            <img class="svg" src="assets/svgs/logo.svg">
        </div>
        <div class="user-icon">
            <img (tap)="userDetail()" src="assets/svgs/user-icon.svg">
        </div>
    </div>

    <div class="header-title-section" padding>
        <div class="title-holder">
            <p style="text-transform: capitalize">{{task.type}} Task</p>
        </div>
        <div class="user-coins">
            <img src="assets/svgs/icons svg compressed-03.svg"> {{userProvider.points}}
        </div>
    </div>

    <div class="task-description" padding >
        <div class="task-description-header">
            <p>{{ task.name }} </p>
        </div>
        <div class="task-description-body">
            <p> {{ task.longDescription }} </p>
        </div>
        <div class="task-description-data">
            <div class="row">
                <div col-12>
                    <div class="row">
                        <div col-12>
                            <div class="row">
                                <div col-6 class="data-title">Max No of Users</div>
                                <div col-6 class="data-number">{{ task.maxUsers }}</div>
                            </div>
                        </div>
                        <div col-12>
                            <div class="row">
                                <div col-6 class="data-title">Date of Expiry</div>
                                <div col-6 class="data-number">{{ task.formattedExpiry }}</div>

                            </div>
                        </div>
                    </div>
                </div>
                <div col-12>
                    <div class="row">

                        <div col-12 *ngIf="task.taskUser">
                            <div class="row" >
                                <div col-7 class="data-title">Your Task Code</div>
                                <div col-5 class="data-number">{{ task.taskUser.code }}</div>
                            </div>
                        </div>

                        <div col-12>
                            <div class="row">
                                <div col-8 class="data-title">Users pending approval</div>
                                <div col-4 class="data-number">{{ task.pending }}</div>
                            </div>
                        </div>
                        <div col-12>
                            <div class="row">
                                <div col-8 class="data-title">Users who completed</div>
                                <div col-4 class="data-number">{{ task.completed }}</div>
                            </div>
                        </div>
                        <div col-12>
                            <div class="row">
                                <div col-8 class="data-title">Approved Users</div>
                                <div col-4 class="data-number">{{ task.approved }}</div>
                            </div>
                        </div>
                        <div col-12>
                            <div class="row">
                                <div col-8 class="data-title">Verified Users</div>
                                <div col-4 class="data-number">{{ task.verified }}</div>
                            </div>
                        </div>
                        <div col-12>
                            <div class="row">
                                <div col-8 class="data-title">Rejected Users</div>
                                <div col-4 class="data-number">{{ task.rejected }}</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="buttons-section" >
            <button class="strom-orange-button approve-all" (tap)="approveAll()" ion-button color="primary">Approve All</button>
            <button class="strom-orange-button verify-all" (tap)="verifyAll()" ion-button color="success">Verify All</button>
        </div>

        <!--<div align="center">-->
            <!--<ion-spinner name="crescent" *ngIf="loading && !task.taskUser"></ion-spinner>-->
        <!--</div>-->


        <ion-list *ngIf="task.users">
            <ion-segment mode="md" [(ngModel)]="type">
                <ion-segment-button (tap)="updateType('approval')" value="approval">
                    Approvals
                </ion-segment-button>
                <ion-segment-button (tap)="updateType('verification')" value="verification" >
                    Verifications
                </ion-segment-button>
            </ion-segment>


            <div [ngSwitch]="type">
                <div *ngSwitchCase="'approval'">

                    <div align="center">
                        <ion-spinner name="crescent" *ngIf="loading"></ion-spinner>
                    </div>

                    <div class="nothing" align="center" *ngIf="taskData.length == 0">
                        <img src="assets/svgs/nothing.svg">
                        <h4>Nothing to see here</h4>
                        <p>Check out other tasks on the activity tab</p>
                    </div>


                    <div class="task-listings"  *ngFor="let taskUser of task.users.data">


                            <div class="task-listing-content black-text" col-6>
                                <div class="task-listing-header">
                                    <p *ngIf="taskUser.user">{{ taskUser.user.username }}</p>
                                </div>
                                <div class="task-listing-body">
                                    <p *ngIf="taskUser.code">{{ taskUser.code }}</p>
                                </div>
                            </div>
                            <div class="proceed-icon" col-6>
                                <button class="reject-button" (tap)="rejectUser(taskUser.tuid)" col-5 clear ion-button
                                        icon-only>
                                    <ion-icon name="close-circle"></ion-icon>
                                </button>
                                <button class="approve-button" (tap)="approveUser(taskUser.tuid)" col-5 clear ion-button
                                        icon-only>
                                    <ion-icon name="checkmark-circle"></ion-icon>
                                </button>

                            </div>

                    </div>

                    <ion-infinite-scroll threshold="10px" (ionInfinite)="loadMore($event)">
                        <ion-infinite-scroll-content
                                loadingSpinner="crescent"
                        ></ion-infinite-scroll-content>
                    </ion-infinite-scroll>
                </div>
            </div>

            <div [ngSwitch]="type">
                <div *ngSwitchCase="'verification'">

                    <div align="center">
                        <ion-spinner name="crescent" *ngIf="loading"></ion-spinner>
                    </div>

                    <div class="nothing" align="center" *ngIf="taskData.length == 0">
                        <img src="assets/svgs/nothing.svg">
                        <h4>Nothing to see here</h4>
                        <p>Check out other tasks on the activity tab</p>
                    </div>


                    <div class="task-listings" *ngFor="let taskUser of task.users.data">


                            <div class="task-listing-content black-text" col-6>
                                <div class="task-listing-header">
                                    <p *ngIf="taskUser.user">{{ taskUser.user.username }}</p>
                                </div>
                                <div class="task-listing-body">
                                    <p *ngIf="taskUser.code">{{ taskUser.code }}</p>
                                </div>
                            </div>
                            <div class="proceed-icon" col-6>
                                <button class="reject-button" (tap)="rejectUser(taskUser.tuid)" col-5 clear ion-button
                                        icon-only>
                                    <ion-icon name="close-circle"></ion-icon>
                                </button>
                                <button class="approve-button" (tap)="verifyUser(taskUser.tuid)" col-5 clear ion-button
                                        icon-only >
                                    <ion-icon name="checkmark-circle"></ion-icon>
                                </button>

                            </div>

                    </div>

                    <ion-infinite-scroll threshold="10px" (ionInfinite)="loadMore($event)">
                        <ion-infinite-scroll-content
                                loadingSpinner="crescent"
                        ></ion-infinite-scroll-content>
                    </ion-infinite-scroll>
                </div>
            </div>
        </ion-list>

    </div>

</ion-content>
