
<ion-content padding>

  <div class="topSection">
    <img class="topImage" src="assets/svgs/logo.svg">
  </div>

  <div *ngIf="!showCode">
    <ion-list>
      <ion-item>
        <ion-label floating>Email Address</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>

    </ion-list>

    <button ion-button="" *ngIf="!loading" block (tap)="resetPassword()" class="strom-orange-button">RESET PASSWORD</button>

    <p class="sub">Already have an account? <span (tap)="dismiss()"><b>Sign In</b></span></p>

  </div>

  <div *ngIf="showCode">
    <ion-list>
      <ion-item>
        <ion-label floating>Code</ion-label>
        <ion-input type="text" [(ngModel)]="code"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Confirm Password</ion-label>
        <ion-input type="text" [(ngModel)]="confirmPassword"></ion-input>
      </ion-item>

    </ion-list>

    <button ion-button="" *ngIf="!loading" block (tap)="resetPasswordCode()" class="strom-orange-button">RESET PASSWORD</button>

    <p class="sub">Already have an account? <span (tap)="dismiss()"><b>Sign In</b></span></p>

  </div>

</ion-content>
