<!--
  Generated template for the OffersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content no-bounce >

  <!-- start nav -->

  <div class="header-logo-section" padding>
    <div class="logo-holder">
        <button ion-button clear class="slider-menu-button" menuToggle>
          <ion-icon ios="ios-menu" md="ios-menu" name="menu"></ion-icon>
          <ion-icon class="top-notification" *ngIf="userProvider.user.adNotifications + userProvider.user.taskNotifications > 0" color="danger" name="alert" ></ion-icon>
        </button>
      <img src="assets/svgs/logo.svg">
    </div>
    <div class="user-icon">
      <img (tap)="userDetail()" src="assets/svgs/user-icon.svg">
    </div>
  </div>

  <div class="header-title-section" padding>
    <div class="title-holder">
      <p>Invite</p>
    </div>
    <div class="user-coins">
      <img src="assets/svgs/icons svg compressed-03.svg">{{userProvider.points}}
    </div>
  </div>

  <!-- end nav -->
  <ion-segment mode="md" [(ngModel)]="section">
    <ion-segment-button value="inviteFriends" (tap)="updateSection('inviteFriends')">
      Invite Friends
    </ion-segment-button>
    <ion-segment-button value="referrals" (tap)="updateSection('referrals')">
      Referrals
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="section">
    <ion-list *ngSwitchCase="'inviteFriends'">
      <div class="invite-profile">
        <div class="profile-img">
          <img *ngIf="userProvider.user.image" [src]="userProvider.user.image">
          <img *ngIf="!userProvider.user.image" src="assets/svgs/invite-user-icon.svg">
        </div>
        <div class="profile-details">
          <h4>{{userProvider.user.name}}</h4>
          <p>Referred Friends: {{userProvider.user.referred.length}}</p>
        </div>
      </div>
      <div class="referral-content">
        <h4>Your Referral Code</h4>
        <div class="dotted-code">
          <p>{{userProvider.user.refCode}}</p>
        </div>
        <p class="share-code">Share your Referral Code with friends to earn your reward </p>

      </div>
      <div class="rounded-info">
          <div class="share-button">
              <button class="strom-orange-button" (tap)="share()">Share</button>
            </div>
        <div class="row">
          <div col-4>
            <div class="icon-holder">
              <img src="assets/svgs/invitation.svg" alt="">
            </div>
            <p>Invite Friends and Share Referral Code</p>
          </div>
          <div col-4>
            <div class="icon-holder">
              <img src="assets/svgs/smartphone.svg" alt="">
            </div>
            <p>Friends install strom and start performing tasks</p>
          </div>
          <div col-4>
            <div class="icon-holder">
              <img src="assets/svgs/star.svg" alt="">
            </div>
            <p>You and your friend get rewarded</p>
          </div>
        </div>
      </div>
    </ion-list>

    <ion-list *ngSwitchCase="'referrals'">
      <div class="your-earnings">
        <h4>Points Earned</h4>
        <div class="earnings-button">
          <button class="strom-orange-button">{{userProvider.user.referred.length * userProvider.user.pointsPerReferral}}</button>
        </div>
        <div class="row sided-buttons">
          <div col-6>
            <button class="strom-orange-button" (tap)="socialShare()">Invite Friends</button>
          </div>
          <div col-6>
            <button class="strom-orange-button" (tap)="share()">Share</button>
          </div>
        </div>
        <h4>My Referrals</h4>
        <div class="">
          <ul class="referrals-list">
            <li *ngFor="let user of userProvider.user.referred">{{user.name}} <small>[{{user.username}}]</small></li>
          </ul>
        </div>
      </div>
    </ion-list>
  </div>
</ion-content>
