page-invite {

  ion-content {
    background-color: #2A273D !important;
  }
  p {
    color: #fff;
  }
  .header-logo-section, .header-title-section, .social-filter-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-title-section {
    color: #fff;
    font-size: 18px;
    margin-top: 0;
    padding: 10px 16px !important;
  }
  .header-logo-section {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }

  // added by toby
  .header-logo-section .user-icon {
    margin-top: -2px;
  }
  .logo-holder {
    img{
      height:60px;
      margin-top: 5px;
    }
  }

  //end added by toby

  .logo-holder {
    .svg {
      max-width: 170px !important;
      margin-left: -10px;
    }
  }
  .title-holder p {
    margin: 0;
  }
  .user-coins {
    display: flex;
    align-items: center;
    background: rgba(98, 94, 94, 0.25);
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 18px;
    img {
      max-height: 25px;
      width: 25px;
      margin-right: 5px;
    }
  }
  hr {
    height: 2px !important;
    background-color: #ffffff !important;
    margin-bottom: 30px;
  }
  .invite-profile {
    display: flex;
    align-items: center;
    padding: 5px 16px 0;
    .profile-img {
      max-width: 60px;
      margin-right: 15px;
      img {
        border-radius: 50%;
        width: 60px;
        height: 60px;
      }
    }
    .profile-details h4, .profile-details p {
      margin: 0
    }
    .profile-details {
      p {
        color: #C58D0F;
      }
      h4 {
        color: #fff;
      }
    }
  }
  .segment-md .segment-button.segment-activated {
    border-color: #FFF;
    color: white;
  }
  .segment-md .segment-button {
    color: #AAADB4;
    border-bottom-color: transparent;
    font-size: 15px;
  }
  .referral-content {
    padding: 0 16px;
    h4 {
      color: #fff;
      text-align: center;
      margin-top: 0;
    }
    .dotted-code {
      border: 3px dotted #fff;
      margin-left: 20px;
      margin-right: 20px;
      p {
        color: #FAC235;
        font-weight: bold;
        font-size: 24px;
        text-align: center;
        margin: 10px 0;
      }
    }
    .share-code {
      color: #C58D0F;
      font-size: 16px;
      text-align: center;
      margin-bottom: 8px;
      padding:0 20px;
    }

  }
  .rounded-info {
    padding: 16px 16px 0px;
    text-align: center;
    .row {
      margin-top: 20px;
    }
    .share-button {
      text-align: center;
      button {
        padding: 10px 45px;
        border-radius: 4px;
        font-size: 16px;
      }
    }
    p {
      color: #FABC2F;
      font-size: 10px;
      text-align: center;
    }
  }
  .your-earnings {
    text-align: center;
    padding: 20px 16px;
    h4 {
      color: #fff;
      margin-top: 0;
    }
    .earnings-button {
      width: 75%;
      margin: 20px auto;
      button {
        width: 100%;
        padding: 15px;
        border-radius: 4px;
        font-size: 24px;
        font-weight: bold;
      }
    }
    .sided-buttons {
      button {
        width: 100%;
        padding: 15px 0;
        border-radius: 4px;
        font-weight: bold;
        font-size: 16px;
      }
    }
    .referrals-list {
      list-style: none;
      padding: 0;
      text-align: left;
      color: #fff;
      font-size: 12px;
      li {
        margin: 10px 0;
      }
    }
  }
  ion-list {
    margin: 0 !important;
  }

  @media (min-height: 600px) and (max-height: 750px){
    .rounded-info{
      margin-top: calc(30% - 100px);
      .row {
        margin-top: calc(35% - 100px);
      }
    }
  }
  @media (min-height: 750px) and (max-height: 850px){
    .rounded-info{
      margin-top: calc(40% - 100px);
      .row {
        margin-top: calc(45% - 100px);
      }
    }
  }
}
