<!--
  Generated template for the AddCardPage.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content no-bounce>

    <div class="header-logo-section" padding>
        <div class="alignleft">
            <img class="topImage" (tap)="goBack()" src="assets/imgs/back.png">
        </div>
        <p class="aligncenter">Edit Profile</p>
        <!--<div class="user-icon alignright">-->
        <!--<img (tap)="goToProfile()" src="assets/svgs/user-icon.svg">-->
        <!--</div>-->
    </div>
    <div style="clear: both;"></div>
    ​

    <div> <!-- start pre otp div -->

        <!--<div class="card-header">-->
            <!--<p>Please fill in card details below</p>-->
        <!--</div>-->
        <ion-list>
            <ion-item class="card-number">
                <ion-label stacked>Username</ion-label>
                <ion-input type="text" disabled [(ngModel)]="username"
                           placeholder="XXXX XXXX XXXX XXXX"></ion-input>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item class="card-number">
                <ion-label stacked>Name</ion-label>
                <ion-input type="text" [(ngModel)]="name"
                           placeholder=""></ion-input>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item class="card-number">
                <ion-label stacked>Email</ion-label>
                <ion-input type="text" disabled [(ngModel)]="email"
                           placeholder=""></ion-input>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item class="card-number">
                <ion-label stacked>Phone</ion-label>
                <ion-input type="tel" disabled="" [(ngModel)]="phone"
                           placeholder=""></ion-input>
            </ion-item>
        </ion-list>
    </div>


    <div align="center">
        <ion-spinner name="crescent" *ngIf="loading"></ion-spinner>
    </div>

    <div class="add-card-btn">
        <button block (tap)="editProfile()" [disabled]="loading" class="strom-orange-button">Save</button>
    </div>



</ion-content>
