<!--
  Generated template for the Fund page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>


    <div class="header-logo-section" padding>
        <div class="logo-holder">
            <button ion-button clear class="slider-menu-button" menuToggle>
                <ion-icon ios="ios-menu" md="ios-menu" name="menu"></ion-icon>
                <ion-icon class="top-notification" *ngIf="userProvider.user.adNotifications + userProvider.user.taskNotifications > 0" color="danger" name="alert" ></ion-icon>
            </button>
            <img src="assets/svgs/logo.svg">
        </div>
        <div class="user-icon">
            <img (tap)="userDetail()" src="assets/svgs/user-icon.svg">
        </div>
    </div>

    <div class="header-title-section" padding>
        <div class="title-holder">
            <p>Fund</p>
        </div>
        <div class="user-coins">
            <img src="assets/svgs/icons svg compressed-03.svg">{{userProvider.points}}
        </div>
    </div>

    <div class="fund-content" padding>
        <ion-label stacked>Deposit Amount</ion-label>
        <input type="tel" class="text-input" id="amount-inner" [(ngModel)]="points" placeholder="Enter Amount to Deposit">

        <ion-label stacked>Points</ion-label>
        <input type="tel" class="text-input" id="points-inner" [(ngModel)]="points" placeholder="000">


        <div class="fund-button">
            &nbsp;
        </div>
        <div class="clearfix"></div>

        <div class="add-button" style="margin-top:-20px;">
            <button class="strom-orange-button" (tap)="goToAddCard()">Add Card</button>
        </div>

        <div class="payment-cards">
            <h6>SAVED CARDS</h6>

            <div class="saved-cards" [ngClass]="{'selected' : card.cardid == cardid}" (tap)="selectCard(card)" *ngFor="let card of userProvider.user.cards">
                <!--<p>Saved Cards</p>-->
                <div class="card-content"  >
                    <div class="card-image">
                        <img src="assets/svgs/visa.svg" alt="Card Type">
                    </div>
                    <div class="card-details">
                        <p class="card-number">XXXX XXXX XXXX {{card.cardNumber}}</p>
                        <p class="remove-card" (tap)="confirmCardDelete(card)">Remove</p>
                    </div>
                </div>
            </div>

            <div class="fund-button">
                <div align="center">
                    <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
                </div>

                <div align="center" col-12>
                    <button class="strom-orange-button left-button" [disabled]="loading" (tap)="fund()">Fund with Saved Card</button>
                    <button class="strom-orange-button right-button" [disabled]="fundLoading" (tap)="fundNewCard()">
                        <div align="center">
                            <ion-spinner *ngIf="fundLoading" name="crescent"></ion-spinner>
                        </div>

                        One-time Funding
                    </button>
                </div>
                <div align="center" style="width: 100%;margin-top:40px;">
                    <small>One-time funding attracts an &#x20A6;80 convenience fee.</small>
                </div>
            </div>


            <div class="clearfix"></div>
        </div>
    </div>


</ion-content>
