page-fund {

  ion-content {
    background-color: #2A273D !important;
  }
  p {
    color: #fff;
  }
  .header-logo-section, .header-title-section, .social-filter-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-logo-section {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }

  .fund-button{
    float: initial !important;
  }
  .fund-button small{
    color:white;
  }

  .left-button{
    float: left;
    width:40vw;
    height: 40px;
  }

  .right-button{
    float: right;
    height: 40px;
    width:40vw;
  }

  // added by toby
  .header-logo-section .user-icon {
    margin-top: -2px;
  }
  .logo-holder {
    img {
      height: 60px;
      margin-top: 5px;
    }
  }

  .small{
    margin-top: 30px !important;
  }



  //end added by toby

  .header-title-section {
    color: #fff;
    font-size: 18px;
    margin-top: 0;
    padding: 10px 16px !important;
  }
  .logo-holder {
    .svg {
      max-width: 170px !important;
      margin-left: -10px;
    }
  }
  .title-holder p {
    margin: 0;
  }
  .user-coins {
    display: flex;
    align-items: center;
    background: rgba(98, 94, 94, 0.25);
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 18px;
    img {
      max-height: 25px;
      width: 25px;
      margin-right: 5px;
    }
  }
  .fund-content {
    border-top: 1px solid #fff;
    .text-input {
      margin-left: 0px !important;
      width: 100% !important;
      background: #fff !important;
      padding: 12px 10px !important;
      border-radius: 4px !important;
      font-size: 13px;
      height: 50px;
    }
    ion-label {
      color: #fff !important;
      margin-bottom: 10px !important;
    }
    #amount-inner {
      background-image: url('../../assets/imgs/amount.png') !important;
      background-repeat: no-repeat !important;
      background-position: 0px !important;
      padding-left: 60px !important;
    }
    #points-inner {
      background-image: url('../../assets/imgs/points.png') !important;
      background-repeat: no-repeat !important;
      background-position: 0px !important;
      padding-left: 60px !important;
    }
    .fund-button, .add-button {
      margin: 20px 0;
      float: right;
      button {
        padding: 10px 30px;
        border-radius: 4px;
      }
    }
    .clearfix {
      clear: both;
    }
    .payment-cards {
      h6 {
        color: #fff;
        font-size: 12px;
      }
    }
    .saved-cards {
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
      background: #fff;
      border-radius: 4px;
      padding: 15px;
      margin-bottom: 10px;
      p {
        color: #625E5E;
        text-transform: uppercase;
        margin: 0;
      }
      .card-content {
        display: flex;
        align-items: center;
        margin-top: 15px;
        .card-details {
          margin-left: 10px;
          p {
            font-size: 14px;
            margin: 5px;
            color: #7E7D7D;
          }
          .remove-card {
            color: #B1252D;
            text-transform: none;
            font-size: 11px;
          }
        }
      }
    }

  }

  // added by toby

  .remove-card {
    width: 30%;
  }
  .payment-cards {
    // margin: -12px 0 0 0;
  }
  .saved-cards {
    border: 3px solid white;
  }
  .selected {
    border: 3px solid #FABC2F !important;
  }
  // end added by toby

}
