<!--
  Generated template for the TermsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>

    <!-- start nav -->

    <div class="header-logo-section" padding>
            <div class="logo-holder">
                <button ion-button clear class="slider-menu-button" menuToggle>
                    <ion-icon ios="ios-menu" md="ios-menu" name="menu"></ion-icon>
                    <ion-icon class="top-notification" *ngIf="userProvider.user.adNotifications + userProvider.user.taskNotifications > 0" color="danger" name="alert" ></ion-icon>
                </button>
                <img src="assets/svgs/logo.svg">
            </div>
            <div class="user-icon">
                <img (tap)="userDetail()" src="assets/svgs/user-icon.svg">
            </div>
        </div>

        <div class="header-title-section" padding>
            <div class="title-holder">
                <p>Terms</p>
            </div>
            <div class="user-coins">
                <img src="assets/svgs/icons svg compressed-03.svg">{{userProvider.points}}
            </div>
        </div>

    <!-- end nav -->

    <div class="terms-content" padding>
        <p>
            STROM Network is a Global decentralised platform created by STROM Foundation. (Copyrights and trademarks, all rights reserved).
            <br><br>
            Please read these Terms of Service and our Privacy Policy (collectively, the "Agreement") carefully before using STROM, www.stromnetwork.com (the "Site"), or other domains, products, services, and/or content provided by STROM Foundation. (all of those collectively, the "Services"). By using or accessing the Services, you ("Subscriber" or "you") agree to become bound by all the terms and conditions of this Agreement. If you do not agree to all the terms and conditions of this Agreement, you shouldn't and aren't permitted to use the Services.
        </p>

        <p>
            <b>
                Changes To This Agreement
            </b><br>
            We reserve the right, at our sole discretion, to modify or replace these Terms of Service by posting the updated terms on the Site. Your continued use of our Services after any such changes constitutes your acceptance of the new Terms of Service. Please review this Agreement periodically for changes. If you do not agree to any of this Agreement or changes to this Agreement, do not use, or access our Services.
        </p>
        <p>

            As Strom grows, our terms may change and when they do they will be updated on our website.

        </p>
        <p>
            <b>Service Changes and Limitations</b><br>
            The Services change frequently, and their form and functionality may change without prior notice to you. We reserve the right to create limits on and related to use of the Services in its sole discretion at any time with or without notice. Strom may also impose limits on certain Services or aspects of those Services or restrict your access to parts or all of the Services without notice or liability. STROM may change, suspend, or discontinue any or all of the Services at any time, including the availability of any product, feature, database, or content. STROM may also suspend Accounts (as defined below) at any time, in its sole discretion.

            STROM is an evolving product with new features launching all the time. We will make changes based on analytics and feedback. We need the flexibility to make those changes, impose limits, and occasionally suspend or terminate certain offerings. We can also suspend any individual account at any time if they break any of our terms.
        </p>
        <p>

            <b>
                Prohibited Behavior
            </b><br>
            <b>DO NOT:</b><br>

            Post, submit or transmit any User Content that constitutes a direct, specific threat of violence against another
            Use the Service for an unlawful purpose or promotion of illegal activities
            Impersonate others through the Service in a manner that does or is intended to mislead, confuse or deceive others
            Access, tamper with or use nonpublic areas of the Service, our computer systems, or the technical delivery systems of our providers
            Attempt to probe, scan, or test the vulnerability of any of our system or network or breach any security or authentication measures
            Attempt to falsify your identity or create "fake accounts" by modifying your device ID, IP address, or MAC address.
            Avoid, bypass, remove, deactivate, impair, descramble or otherwise circumvent any technological measure implemented by the Company or any of the Company's providers or any other third party (including another user) to protect the Service, the Service's methods to track reward issuance, or any content on the Service
            Use multiple devices for the same account or use multiple accounts on the same device. Only one account per device and vice versa. Changing device is possible but will require you to wait a certain amount of time. Excessive device change may be considered fraudulent behavior.
          <br>

            <b>Spam: </b><br>

            a) post Referral Code in Google Play review, which is also in violation of Google Play policies;
            <br>b) send excessive phony invites with no activities from invitees. You will only be rewarded for active invitees.
            Use any type of automated software and/or bypass the mobile application (ex: issuing requests that do not originate from the mobile app) to earn rewards.
            Attempt to access or search the Service or any content on the service or download any content from the Service through the use of any engine, software, tool, agent, device or mechanism (including spiders, robots, emulators, crawlers, data mining tools or the like) other than the software and/or search agents provided by us or other generally available third-party web browsers
            Send any unsolicited or unauthorized advertising, promotional materials, email, junk mail, spam, chain letters or other forms of solicitation
            Disrupt the normal operation of the Service through the use of specialized tools bypassing the mobile application.
            Interfere with, or attempt to interfere with, the access of any user, host or network, including, without limitation, sending a virus, intentionally linking to malicious content, overloading, flooding, spamming, or mail-bombing the Service
            Collect or store any personally identifiable information from the Service from other users of the Service without their express permission
            Attempt to deceive the Company in any way to obtain additional points or gift cards
            Encourage or enable any other individual to do any of the foregoing. Do not post misleading videos or articles to exploit vulnerabilities and bugs in the app or to encourage users to spam. Such misleading videos or articles generally claim to offer a "Cheat", "Hack", "Bug" or "Loophole" promising users "Unlimited" Points by fraudulent means.
            Please don't do any of the above. Use common sense and treat others the way you want to be treated. Any reward based app is going to attract people who try to game the system. We put measures in place to protect our advertisers as well as ourselves. If we detect any kind of activity that breaks any of these terms, you will be permanently banned.
            STROM Points
            STROM Points is a virtual currency that has no real world value. You can earn STROM Points in exchange for rewards within the app. Should your account be suspended, deleted, or should STROM cease operations, you agree that you will forfeit all STROM Points in your account.

        </p>
        <p>
            Privacy
            Any information you provide to STROM is subject to our Privacy Policy, which governs our collection and use of your information. You understand that through your use of the Services you consent to the collection and use (as outlined in the Privacy Policy) of this information.

            Please check it out. We collect information primarily to identify that you are really you, not someone who is trying to impersonate you or some robot or virtual being. Since this is a rewards app, it's important we attribute the rewards to the right person, so it's fair to all users, to us, and to the advertisers. If we don't do this, we will be out of business really quickly.

            Limitation on Account Creation and Account Sign In
            Only one STROM account can be associated per device. Because of the security and reward tracking implementation we have in place, we can only allow a single account to be created per device. There really isn't any reason for anyone to have multiple accounts. If you are sharing a device with another user, we're sorry, you'll have to buy another device to register your account on. The only time this clause can become an issue is if you obtain a device from another person who has already registered an account on your device. If this is the case you can email us, but we reserve the right to decide whether an account can be created. Additionally, we realize people have multiple devices (tablet, phone) and that people change devices all the time and may want to use our app on different devices. We allow a reasonable number sign-ins within a fixed period.

            Passwords
            You are responsible for safeguarding the password that you use to access the Services and for any activities or actions under your password. We encourage you to use "strong" passwords (passwords that use a combination of upper and lower case letters, numbers, and symbols) with your account. STROM cannot and will not be liable for any loss or damage arising from your failure to comply with the above.

        </p>

        <p>

            <b>
            Deleting Account
            </b><br>
            You have the right to delete your account anytime you want. To delete your account, please send us an email to admin@stromnetwork.com specifying that you want to delete your account. We will contact you to confirm your request, and your account will be deleted within a few days.
        </p>

        <p>
            <b>
                Intellectual Property
            </b><br>

            All Services and its original content, features, and functionality are owned by the Founder/Creator of STROM Foundation and are protected by international copyright, trademark, patent, trade secret and other intellectual property or proprietary rights laws.

        </p>

        <p>
            <b>
                Account Suspension and Termination
            </b><br>
            STROM may terminate or suspend your access to or ability to use any and all Services immediately, without prior notice or liability, for any reason or no reason, including but not limited to if you breach any of the terms or conditions of this Agreement. In particular, STROM may immediately terminate or suspend Accounts that have been flagged for suspected fraudulent activities.

            Upon termination of your access to or ability to use a Service, including but not limited to suspension of your Account on a Service, your right to use or access that Service and any information associated with you will immediately cease and may result in forfeiture and destruction. All provisions of this Agreement which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, and limitations of liability. Termination of your access to and use of the Services shall not relieve you of any obligations arising or accruing prior to such termination or limit any liability which you otherwise may have to STROM or any third-party.

            If you attempt or engage in any fraudulent activities or break any of the terms as outlined on this page, your account will be suspended and you will lose everything associated with your account.

        </p>
        <p>
            <b>
                WITHDRAWAL POLICY
            </b><br>

            All points on the platform can only be withdrawn through the “Cashout” process and will incur the administration fees of 17.5%.
        </p>

        <p>
            <b>
                Links To Other Sites
            </b> <br>

            The Services may contain links to third-party websites or resources. You acknowledge and agree that the STROM is not responsible or liable for: (i) the availability or accuracy of such websites or resources; or (ii) the content, products, or services on or available from such websites or resources. Links to such websites or resources do not imply any endorsement by STROM of such websites or resources or the content, products, or services available from such websites or resources. You acknowledge sole responsibility for and assume all risk arising from your use of any such websites or resources.

        </p>

        <p>
            <b>
                Gift Card Disclaimers
            </b><br>
            We do not issue refunds on gift card rewards redeemed with STROM points. Although we will make every effort to correct any issues (in the form of crediting a Subscriber's account the proper amount of credits) due to invalid, inactive, or otherwise unusable gift cards, we reserve the right to determine on a case by case basis which accounts are eligible for the correction.

            We can't issue refunds for gift cards because there is no way for us to know whether a gift card has been used. The only exception we make is if there is an issue with the gift card number, which in rare cases do happen. In such instances, it does require some time to investigate and we reserve the right to decide whether you are eligible for a refund.

        </p>

        <p>
            <b>
                Disclaimer of Warranties
            </b><br>
            Your access to and use of the Services or any Content is at your own risk. YOU UNDERSTAND AND AGREE THAT THE SERVICES ARE PROVIDED TO YOU ON AN "AS IS" AND "AS AVAILABLE" BASIS. WITHOUT LIMITING THE FOREGOING, TO THE FULL EXTENT PERMITTED BY LAW, STROM DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT. STROM makes no representations or warranties of any kind with respect to the Services, including any representation or warranty that the use of the Services will (a) be timely, uninterrupted or error-free or operate in combination with any other hardware, software, system or data,

            <br>(b) meet your requirements or expectations, (c) be free from errors or that defects will be corrected, (d) be free of viruses or other harmful components. No advice or information, whether oral or written, obtained from STROM or through the Services, will create any warranty not expressly made herein. Additionally, while we work to protect the security of your content and account, we cannot guarantee that unauthorized third parties will not be able to defeat our security measures.

            You agree that we are not responsible for the loss of your points, other points, credits, achievements, rewards, gift cards, regardless of monetary value, in the event there is any data or server error, computer and/or network system error or failure, criminal act, vandalism, or cyber attack.

            We're not perfect. Sometimes bad things happen. Although we try to do everything to prevent bad things from happening, there are times when it's beyond our control or ability. With regards to reward issuance, we work with partners to provide offers for users to complete to earn rewards and issue rewards based on these partner's system notifying us. There isn't much we can do if our partner fails to signal us when you've completed your task resulting in you not receiving your reward. Furthermore, app developers and ad networks often have measures in place to prevent users who have already completed an offer (or have installed an app or watched a video) from getting credited more than once. Please accept that we may not be able to fix everything and make everyone happy should these bad things happen.

        </p>
        <p>

            <b>Indemnification</b><br>
            You agree to indemnify and hold the Company, and each of its directors, managers, officers, agents, contractors, partners and employees, harmless from and against any loss, liability, claim, action, cause of action, application, demand, damages, costs and expenses, including reasonable attorney's fees, arising out of or in connection with (i) your use of and access to our Services; (ii) your violation of any term of these Terms of Use; (iii) your violation of any third-party right, including without limitation any copyright, property, or privacy right; (iv) any claim that one of your user submissions caused damage to a third-party; or (v) any content you post or share on or through the Service.
        </p>

        <p>
          <b>Limitations of Liability</b><br>
            TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, STROM, ITS DIRECTORS, OFFICERS, MEMBERS, OFFICERS, EMPLOYEES, REPRESENTATIVES, CONSULTANTS, AGENTS, SUPPLIERS, AND/OR DISTRIBUTORS SHALL NOT BE LIABLE FOR: (A) ANY INDIRECT, INCIDENTAL, EXEMPLARY PUNITIVE, OR CONSEQUENTIAL DAMAGES OF ANY KIND WHATSOEVER;
            <br>
            (B) LOSS OF: PROFITS, REVENUE, DATA, USE, GOOD-WILL, OR OTHER INTANGIBLE LOSSES; (C) DAMAGES RELATING TO YOUR ACCESS TO, USE OF, OR INABILITY TO ACCESS OR USE THE SERVICES; (D) DAMAGES RELATING TO ANY CONDUCT OR CONTENT OF ANY THIRD-PARTY OR SUBSCRIBER USING THE SERVICES, INCLUDING WITHOUT LIMITATION, DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OR CONTENT; AND/OR (E) DAMAGES IN ANY MANNER RELATING TO ANY CONTENT. THIS LIMITATION APPLIES TO ALL CLAIMS, WHETHER BASED ON WARRANTY, CONTRACT, TORT, OR ANY OTHER LEGAL THEORY, WHETHER OR NOT STROM HAS BEEN INFORMED OF THE POSSIBILITY OF SUCH DAMAGE, AND FURTHER WHERE A REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED ITS ESSENTIAL PURPOSE.

        </p>

        <p>
            <b>
                Waiver and Severability
            </b><br>
            The failure of the Company to enforce any right or provision of these Terms will not be deemed a waiver of such right or provision. In the event that any provision of these Terms is held to be invalid or unenforceable, then that provision will be limited or eliminated to the minimum extent necessary, and the remaining provisions of these Terms will remain in full force and effect.

        </p>

        <p>
            <b>
                Gift Card Vendor Affiliation
            </b><br>
            STROM is not affiliated with, endorsed, or sponsored by the gift card vendors. All logos are registered trademarks with their respective owners.

        </p>


    </div>


</ion-content>
