page-terms {


  ion-content {
    background-color: #2A273D !important;
  }
  p,pre {
    color: #fff;
  }
  .header-logo-section, .header-title-section, .social-filter-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-title-section {
    color: #fff;
    font-size: 18px;
    margin-top: 0;
    padding: 10px 16px !important;
  }
  .header-logo-section {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }

  // added by toby
  .header-logo-section .user-icon {
    margin-top: -10px;
  }

  .logo-holder {
    img{
      height:60px;
      margin-top: 5px;
    }
  }

  //end added by toby

  .logo-holder {
    .svg {
      max-width: 170px !important;
      margin-left: -10px;
    }
  }
  .title-holder p {
    margin: 0;
  }
  .user-coins {
    display: flex;
    align-items: center;
    background: rgba(98, 94, 94, 0.25);
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 18px;
    img {
      max-height: 25px;
      width: 25px;
      margin-right: 5px;
    }
  }

  .terms-content {
    border-top: 1px solid #fff;
  }

  .terms-content p {
    text-align: justify;
  }
  ion-list {
    margin: 0 !important;
  }


}
