<!--
  Generated template for the UserProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
  <div class="topSection">
    <img class="topImage" (tap)="goBack()" src="assets/imgs/back.png">
    <img class="topImage svg" (tap)="editProfile()" src="assets/svgs/icons svg compressed-18.svg">
  </div>
  <div class="main-profile" align="center">

    <img (tap)="photoAction()" *ngIf="!userProvider.user.image" class="main-profile-img" src="assets/imgs/user-img.png">
    <img (tap)="photoAction()" *ngIf="userProvider.user.image" class="main-profile-img" [src]="userProvider.user.image">

    <div align="center">
      <ion-spinner class="photoLoading" name="crescent" *ngIf="photoLoading"></ion-spinner>
    </div>

    <p class="user-profile-name">{{userProvider.user.name}}</p>
    <p class="user-profile-role">{{userProvider.user.username}}</p>
    <p class="user-profile-points">
      <img class="topImage svg" src="assets/svgs/icons svg compressed-03.svg"> {{userProvider.points}}
    </p>
    <button (tap)="logout()" ion-button="" block class="cashout-btn">LOGOUT</button>
  </div>
  <div class="main-profile2" align="center">
    <div class="row">
      <p col-6 (tap)="goToMyTasks()" class="user-profile-points">
        <img class="task-image" src="assets/svgs/icons svg compressed-16.svg"> My Tasks
      </p>
      <p col-6 (tap)="goToMyAds()" class="user-profile-points">
        <img class="reward-image" src="assets/svgs/icons svg compressed-05.svg"> My Ads
      </p>
    </div>
  </div>
  <div class="main-profile3">
    <div class="user-profile-cards">
      <p class=""> History </p>
      <p class=""> See All </p>
    </div>

    <p *ngIf="userProvider.user.cashouts.length <= 0" align="center">Nothing here yet</p>

    <div class="user-cards" *ngFor="let user of userProvider.user.cashouts">
      <img class="topImage" src="../assets/imgs/credit-card.png">
      <div class="card-details">
        <p>{{user.type}}</p>
        <p>{{user.accountName}} - {{user.accountNumber}} </p>
        <p>{{user.accountBank}} </p>
      </div>
    </div>
  </div>
  <div class="user-details">
    <div class="user-detail-password">
      <h5>Password</h5>
      <p>**************** </p>
    </div>
    <div class="user-detail-phone">
      <h5>Phone Number</h5>
      <p>{{userProvider.user.phone}}</p>
    </div>
    <div class="user-detail-email">
      <h5>Email Address</h5>
      <p>{{userProvider.user.email}}</p>
    </div>
  </div>

    <div class="main-profile3">
        <div class="user-profile-cards">
            <p class=""> Cards </p>
            <p class="" (tap)="addCard()"> Add Card </p>
        </div>
        <p *ngIf="userProvider.user.cards.length <= 0" align="center">You have no cards yet</p>
    </div>

    <div align="center">
        <ion-spinner name="crescent" *ngIf="loading"></ion-spinner>
    </div>

    <div class="user-card-details" *ngFor="let card of userProvider.user.cards">
    <div class="user-detail-password">
        <label class="label-ios-danger delete-card" (tap)="confirmCardDelete(card)">Delete Card</label>
    </div>
    <div class="user-detail-card">
      <h6>Card Number</h6>
      <h6>Type</h6>
    </div>
    <div class="user-detail-card2">
      <p>***********{{card.cardNumber}}</p>
      <p>{{card.cardType}}</p>
    </div>
  </div>

</ion-content>
