page-user-profile {

    ion-content{
        background-color: #2A273D !important;
    }

    ion-spinner.photoLoading * {
      stroke: #2A273D !important;
    }

  .delete-card{
    float: right;
  }
  .topSection {
        margin-top: 5vh;
        display: flex;
        justify-content: space-between;
        .svg{
            max-height: 25px;
        }
    }
    .main-profile {
        background: #fff;
        padding: 20px 0 0;
        border-radius: 5px;
        margin: 30px 15px 0;
        color: #616F89;
    }
    .main-profile p {
        margin: 12px 0;
    }
    .main-profile-img {
        background: #CCC;
        border-radius: 50%;
        margin-top: -60px;
        margin-left: auto;
        margin-right: auto;
        z-index: 1;
        box-shadow: 0px 3px #ccc;
        height:120px;
        width: 120px;

    }
    .user-profile-name {
        font-size: 20px;
        font-weight: bold;
    }
    .user-profile-role{
        font-size: 14px;
    }
    .user-profile-points{
        font-size: 14px;
        font-weight: bold;
        justify-content: center;
        display: flex;
        align-items: center;
        .svg {
            max-height: 25px;
            margin-right: 5px;
        }
    }
    .cashout-btn {
        background-image: linear-gradient(#FAC134, #FABC2F);
        text-transform: uppercase;
        font-weight: bold;
    }
    .main-profile2, .main-profile3, .user-details, .user-card-details {
        background-image: linear-gradient(to left, #ffffff, rgba(255,255,255,0.8));
        padding: 20px;
        border-radius: 5px;
        margin: 30px 15px 0;
        color: #616F89;
    }
    .main-profile2 p {
        margin: 0;
        font-size: 18px;
        font-weight: bold;
    }
    .task-image, .reward-image {
        margin-right: 10px;
        max-height: 25px;
    }
    .main-profile2 p:first-child {
        border-right: 1px solid rgba(98, 94, 94, 0.7);
        padding-right: 10px;
    }
    .main-profile3 {
        padding: 25px 20px;
    }
    .user-profile-cards{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .user-profile-cards p {
        font-weight: bold;
        font-size: 14px;
        margin: 0;
    }
    .user-profile-cards p:nth-child(2), .user-cards p:first-child {
        color: rgba(97, 111, 137, 0.5);
    }
    .card-details {
        margin-left: 10px;
    }
    .user-cards{
        display: flex;
        align-items: center;
        margin-top: 20px;
    }
    .user-cards p {
        margin: 5px 0;
        font-size: 14px;
        font-weight: bold;
    }
    .user-details, .user-card-details {
        background-color: #ffffff;
        padding: 25px 20px;
        h5 {
            color: #FAC134;
            font-size: 14px;
            margin: 0;
        }
        p {
            margin: 5px 0;
        }
        .user-detail-password, .user-detail-phone, .user-detail-email {
            margin-bottom: 25px;
        }
        .user-detail-card, .user-detail-card2 {
            display: flex;
            justify-content: space-between;
            h6 {
                color: #494176;
                text-transform: uppercase;
                font-size: 14px;
                margin: 0;
            }
            p {
                margin: 0;
                color: rgba(97, 111, 137, 0.5);
            }
        }
    }

}
