<!--
  Generated template for the OffersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>

        <div class="header-logo-section" padding>
            <div class="logo-holder">
                <img class="topImage" (tap)="goBack()" src="assets/imgs/back.png">
                <img class="svg" src="assets/svgs/logo.svg">
            </div>
            <div class="user-icon">
                <img (tap)="userDetail()" src="assets/svgs/user-icon.svg">
            </div>
        </div>

        <div class="header-title-section" padding>
            <div class="title-holder">
                <p>Video Task </p>
            </div>
            <div class="user-coins">
                <img src="assets/svgs/icons svg compressed-03.svg"> {{userProvider.points}}
            </div>
        </div>

        <div class="video-description" padding>
            <div class="video-description-header">
                <p>{{ video.name }} <span class="views">{{video.media[0].views}} views</span></p>
            </div>
            <div class="video-description-body">
                <p> {{ video.longDescription }} </p>
            </div>

            <div class="video-container" >
                <video #videop controls controlsList="nodownload" muted="true" [ngClass]="{hidden: !showVideo}"   webkit-playsinline="webkit-playsinline"  [poster]="video.media[0].thumbnail" *ngIf="video.media[0].thumbnail" playsinline looped preload="auto">
                    <source [src]="video.media[0].url" type="video/mp4">
                </video>

                <video #videop controls controlsList="nodownload" muted="true" [ngClass]="{hidden: !showVideo}" webkit-playsinline="webkit-playsinline"  *ngIf="!video.media[0].thumbnail" playsinline looped preload="auto">
                    <source [src]="video.media[0].url" type="video/mp4">
                </video>
            </div>

            <div class="video-playback">

                <img [ngClass]="{hidden: showVideo}"  [src]="video.media[0].thumbnail" *ngIf="video.media[0].thumbnail" alt="Video" class="video-thumbnail">
                <img [ngClass]="{hidden: showVideo}"  *ngIf="!video.media[0].thumbnail" src="assets/imgs/default-image.jpg" alt="Video" class="video-thumbnail">
            </div>
            <div class="action-btns">
                <div class="video-description-earnings">
                    <p *ngIf="video.type == 'videov2e'">earn</p>
                    <p *ngIf="video.type == 'videop2v'">pay</p>
                    <img src="assets/svgs/icons svg compressed-03.svg">
                    <p>{{video.points}}</p>
                </div>
                <div class="start-video-button">
                    <div align="center">
                        <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
                    </div>

                    <button ion-button="" class="strom-orange-button" *ngIf="!loading && !showVideo" (tap)="playVideo()">Play Video</button>
                </div>
            </div>

            <div class="rating-content" *ngIf="video.rated == 0">
                <div align="center">
                    <ion-spinner *ngIf="ratingLoading   " name="crescent"></ion-spinner>
                </div>

                    <form class="rating" (change)="addRating()">
                            <label>
                                <input type="radio" name="stars"  [(ngModel)]="stars" value="1" />
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" [(ngModel)]="stars" value="2" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" [(ngModel)]="stars" value="3" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" [(ngModel)]="stars" value="4" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" [(ngModel)]="stars" value="5" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                        </form>
            </div>

            <div class="rating-content" *ngIf="video.rated == 1" align="center">
                <p>You rated</p>
                <form class="rating">
                    <label class="rated">
                        <span class="icon" *ngIf="video.stars >= 1">★</span>
                        <span class="icon" *ngIf="video.stars >= 2">★</span>
                        <span class="icon" *ngIf="video.stars >= 3">★</span>
                        <span class="icon" *ngIf="video.stars >= 4">★</span>
                        <span class="icon" *ngIf="video.stars >= 5">★</span>
                    </label>

                </form>
            </div>

            <div align="center">
                <p align="center" class="rating-text">Video Rating : {{video.media[0].rating}}</p>
            </div>


            <!-- video advertiser info -->
            <!--<div *ngIf="userProvider.user.uid == video.uid">-->
                <!--<div class="row task-description-data" *ngIf="video.totalEarned">-->
                    <!--<div col-12>-->
                        <!--<p align="center">Only you can see this section</p>-->
                        <!--<div class="row">-->
                            <!--<div col-12>-->
                                <!--<div class="row">-->
                                    <!--<div col-6 class="data-title">Total Earned</div>-->
                                    <!--<div col-6 class="data-number">{{ video.totalEarned }}</div>-->
                                <!--</div>-->
                                <!--<div class="row">-->
                                    <!--<div col-6 class="data-title">Unique Viewers</div>-->
                                    <!--<div col-6 class="data-number">{{ video.noOfViewers }}</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>


    </ion-content>
