page-video-description {

  //added by toby

  :fullscreen::backdrop {
    background-color: black; /* black */
  }

  .rating-text{
    font-size: 20px;
    margin-top: 10px;
  }

  video{
    background-color: black;
  }
  //end added by toby;
.task-description-data > [col-12]:first-child {
  border-top:none;
}
  .task-description-data {
    margin: 30px 0 20px;
    color: #fff;
    small{
      text-align: center;
    }
    .data-title {
      text-transform: uppercase;
      font-weight: lighter;
      font-size: 12px;
    }
    .data-number {
      font-weight: bold;
      font-size: 16px;
    }
    .row{
      display: flex;
      align-items: center;
    }

    [col-12] {
      border-top: 0.5px solid #fff;
      padding: 5px 0;
    }
    [col-6] {
      padding: 5px 0;
    }
  }
    ion-content{
        background-color: #2A273D !important;
    }
    p {
        color: #fff;
        margin-bottom: 0;
        margin-top: 30px;
    }
    .header-logo-section, .header-title-section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 16px 0 !important;
    }
    .logo-holder {
        display: flex;
        align-items: center;
        .topImage {
            margin-right: 15px;
            height: auto;
        }
        img {
            height: auto;
        }
        .svg {
            max-width: 170px !important;
            margin-left: -10px;
        }
    }
    .header-title-section {
        color: #fff;
        font-size: 18px;
        margin-top: 0;
        padding: 10px 16px !important;
    }
    .title-holder p{
        margin: 0;
    }

    .user-coins {
        display: flex;
        align-items: center;
        background: rgba(98, 94, 94, 0.25);
        border-radius: 20px;
        padding: 5px 10px;
        font-size: 18px;
        img {
            max-height: 25px;
            width: 25px;
            margin-right: 5px;
        }
    }
    .video-description {
        padding: 16px 37px !important;
        border-top: 1px solid #fff;
        .video-description-header {
            p {
                font-size: 20px;
            }
        }
        .video-description-body {
            p {
                font-size: 16px;
            }
        }
        .video-description-earnings {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: 0;
            background: rgba(98, 94, 94, 0.25);
            border-radius: 30px;
            padding: 7px 10px;
            img {
                height: 100%;
                margin: 0 10px;
                max-height: 25px;
            }
            p {
                font-size: 13px;
                text-transform: uppercase;
                font-weight: bold;
                margin: 0;
            }
        }
        .start-video-button {
            text-align: center;
            button {
                border-radius: 20px;
                padding: 0px 30px;
                font-size: 13px !important;
            }
        }
        .video-playback {
            margin: 20px 0;
            width:100vw;
            margin-left:-37px;
            .video-thumbnail {
                width: 100%;
                height: 250px;
            }
        }
        .action-btns {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .rating-content {
        text-align: center;
    }

  .video-container{
    width: 100%;
  }

  .video-container video{
    margin:20px auto;
    width:100vw;
    margin-left:-37px;

  }

  //extra css by toby

  .views{
    float: right;
  }

  .hidden{
    display: none;
  }
  // rating css by toby
  .rating {
    display: inline-block;
    position: relative;
    height: 30px;
    line-height: 30px;
    font-size: 30px;
  }

  .rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
  }

  .rating label:last-child {
    position: static;
  }

  .rating label:nth-child(1) {
    z-index: 5;
  }

  .rating label:nth-child(2) {
    z-index: 4;
  }

  .rating label:nth-child(3) {
    z-index: 3;
  }

  .rating label:nth-child(4) {
    z-index: 2;
  }

  .rating label:nth-child(5) {
    z-index: 1;
  }

  .rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  .rating label .icon {
    float: left;
    color: transparent;
  }

  .rating label:last-child .icon {
    color: #fff;
  }

  .rating:not(:hover) label input:checked ~ .icon,
  .rating:hover label:hover input ~ .icon {
    color: #FABC2F;
  }

  .rating label input:focus:not(:checked) ~ .icon:last-child {
    color: #fff;
    text-shadow: 0 0 5px #FABC2F;
  }

  // change

  .rating .rated .icon {
    color: #FABC2F !important;
  }


  // end rating css by toby

}
