<ion-content padding>

    <div class="topSection" >
        <img class="topImage" src="assets/svgs/logo.svg">
    </div>
    <ion-list>
        <ion-item>
            <ion-label floating>Username</ion-label>
            <ion-input type="text" [(ngModel)]="username" ></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Name</ion-label>
            <ion-input type="text" [(ngModel)]="name" ></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Phone</ion-label>
            <ion-input type="tel" [(ngModel)]="phone" ></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Email Address</ion-label>
            <ion-input type="text" [(ngModel)]="email" ></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Referral Code (Optional)</ion-label>
            <ion-input type="text" [(ngModel)]="referredBy" ></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input type="password" [(ngModel)]="password" ></ion-input>
        </ion-item>

        <ion-item>
            <button class="strom-orange-button"></button>
        </ion-item>
    </ion-list>

    <div align="center" *ngIf="loading" class="spinner">
        <ion-spinner name="crescent" ></ion-spinner>
    </div>

    <button ion-button="" *ngIf="!loading" block (tap)="signUp()" class="strom-orange-button">SIGN UP</button>
    <button ion-button="" *ngIf="loading" block class="strom-orange-button" disabled>SIGNING UP</button>

    <p class="sub">Already have an account? <span (tap)="goToSignIn()"><b>Sign in</b></span></p>


    <!--<p class="terms">By using this app you agree to the terms of service.</p>-->

</ion-content>
