page-sign-up {

  ion-content{
    background-color: #2A273D !important;
  }
  .topImage {
    max-width: 80%;
  }

  div.topSection{
    margin-top:10px;
    text-align: center;
  }

  ion-list, ion-list ion-item{
    background-color: transparent !important;
    color:white !important;
  }

  ion-list ion-item:nth-child(1){
    border:none !important;
  }

  ion-item {
    padding-left: 0 !important;
  }

  ion-list ion-item:last-child{
    border:none !important;
  }

  div.spinner{
    margin-bottom: -50px;
  }

  .sub{
    color:white;
    text-align: center;
  }
  .item-ios {
    padding-left: 0;
  }

  p.terms{
    color:white;
    text-align:center;
    font-weight:700;
    position: fixed;
    bottom: 0;
    left: 16px;
    right: 16px;
  }
}
