
<ion-content>

    <!-- start nav -->

    <div class="header-logo-section" padding>
        <div class="logo-holder">
            <button ion-button clear class="slider-menu-button" menuToggle>
                <ion-icon ios="ios-menu" md="ios-menu" name="menu"></ion-icon>
                <ion-icon class="top-notification" *ngIf="userProvider.user.adNotifications + userProvider.user.taskNotifications > 0" color="danger" name="alert" ></ion-icon>
            </button>
            <img src="assets/svgs/logo.svg">
        </div>
        <div class="user-icon">
            <img (tap)="userDetail()" src="assets/svgs/user-icon.svg">
        </div>
    </div>

    <div class="header-title-section" padding>
        <div class="title-holder">
            <p>Help</p>
        </div>
        <div class="user-coins">
            <img src="assets/svgs/icons svg compressed-03.svg">
            {{userProvider.points}}
        </div>
    </div>

    <!-- end nav -->

    <div class="terms-content" padding>
        <p>
            For Enquiries,<br>
            Visit Website:<br>
            <a class="link" href="https://www.stromnetowrk.com">www.stromnetwork.com</a><br>
            <a class="link" href="https://www.stromnetwork.app">www.stromnetwork.app</a><br>
        </p>

        <p>
            Funding options for international users:<br>
            <br>

            <b>
                TETHER (USDT) <br>
                32U19htvdJBrrp5tENhEiMTWJjxQ4ojT3j
            </b>
            <br><br>



            Please contact admin@stromnetwork.com for details on buying points with USDT and withdrawals in USDT before making a payment
            <br>
            <!--Once done, contact us with any of the information on this page and you would get credited in minutes.-->
        <!--</p>-->

        <p>
            Report a User/Advertiser:<br>
            Email : admin@stromnetwork.com <br>
        </p>

        <p>
            Follow us @stromnetwork <br>


            Email: admin@stromnetwork.com
        </p>

        <p (tap)="goToPrivacy()">View Our Privacy Policy</p>


    </div>


</ion-content>
