page-index {

  ion-content{
    background-color: #2A273D !important;
  }
  .topImage {
    max-width: 80%;
  }
  div.topSection{
    margin-top:15vh;
    text-align: center;
  }
  p, h3 {
    color:#FFF;
    text-align: center;
  }
  h3.title{
    font-size: 22px;
  }
  hr{
    background-color: #DADADA !important;
  }
  div.bottom{
    position: fixed;
    bottom: 0;
    left: 16px;
    right: 16px;
  }
  p.description {
    padding: 20px 0;
  }
  div button{
    color: #FFF;
  }
  div button.signin{
    float: left;
    color: #FFF;
  }
  div button.signup{
    float: right;
    color: #FFF;
  }

}
