<!--
  Generated template for the IndexPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding no-bounce>
    <div class="topSection" >
        <img class="topImage" src="assets/svgs/logo.svg">
    </div>
    <div class="bottom">
        <h3 class="title">Make money and earn with Strom </h3>
        <p class="description">
            Sign Up or Sign In to continue
        </p>
        <hr>
        <button ion-button="" (tap)="goToSignIn()" class="signin" clear> SIGN IN </button>
        <button ion-button="" (tap)="goToSignUp()" class="signup" clear> SIGN UP </button>
    </div>
</ion-content>
