<!--
  Generated template for the UserProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>

    <!-- start nav -->

    <div class="header-logo-section" padding>
        <div class="logo-holder">
            <button ion-button clear class="slider-menu-button" menuToggle>
                <ion-icon ios="ios-menu" md="ios-menu" name="menu"></ion-icon>
                <ion-icon class="top-notification" *ngIf="userProvider.user.adNotifications + userProvider.user.taskNotifications > 0" color="danger" name="alert" ></ion-icon>
            </button>
            <img src="assets/svgs/logo.svg">
        </div>
        <div class="user-icon">
            <img (tap)="userDetail()" src="assets/svgs/user-icon.svg">
        </div>
    </div>


    <div class="header-title-section" padding>
        <div class="title-holder">
            <p>Cashout</p>
        </div>
        <div class="user-coins">
            <img src="assets/svgs/icons svg compressed-03.svg">{{userProvider.points}}
        </div>
    </div>

    <!-- end nav -->

    <hr/>

    <ion-segment mode="md" [(ngModel)]="section">
        <ion-segment-button value="transfer" (tap)="updateSection('transfer')">
            Transfer
        </ion-segment-button>
        <ion-segment-button value="airtime" (tap)="updateSection('airtime')">
            Airtime
        </ion-segment-button>
    </ion-segment>


    <div [ngSwitch]="section">
        <ion-list *ngSwitchCase="'transfer'">
            <div class="payment-type" padding>
                <p>Please choose your payment method</p>
            </div>
            <hr>
            <ion-item>
                <ion-label class="banklabel">Bank</ion-label>
                <ion-select [(ngModel)]="bankName" >
                    <ion-option>ACCESS BANK NIGERIA</ion-option><ion-option>ACCESS MOBILE</ion-option><ion-option>AFRIBANK NIGERIA PLC</ion-option><ion-option>Aso Savings and Loans</ion-option><ion-option>DIAMOND BANK PLC</ion-option><ion-option>Ecobank Mobile</ion-option><ion-option>ECOBANK NIGERIA PLC</ion-option><ion-option>ENTERPRISE BANK LIMITED</ion-option><ion-option>FBN MOBILE</ion-option><ion-option>FIDELITY BANK PLC</ion-option><ion-option>FIRST BANK PLC</ion-option><ion-option>FIRST CITY MONUMENT BANK PLC</ion-option><ion-option>GTBank Mobile Money</ion-option><ion-option>GTBANK PLC</ion-option><ion-option>HERITAGE BANK</ion-option><ion-option>KEYSTONE BANK PLC</ion-option><ion-option>Parkway</ion-option><ion-option>PAYCOM</ion-option><ion-option>SKYE BANK PLC</ion-option><ion-option>STANBIC IBTC BANK PLC</ion-option><ion-option>Stanbic Mobile</ion-option><ion-option>STANDARD CHARTERED BANK NIGERIA LIMITED</ion-option><ion-option>STERLING BANK PLC</ion-option><ion-option>UNION BANK OF NIGERIA PLC</ion-option><ion-option>UNITED BANK FOR AFRICA PLC</ion-option><ion-option>UNITY BANK PLC</ion-option><ion-option>WEMA BANK PLC</ion-option><ion-option>ZENITH BANK PLC</ion-option><ion-option>ZENITH Mobile</ion-option><ion-option>Coronation Merchant Bank</ion-option><ion-option>FSDH Merchant Bank Limited</ion-option><ion-option>PARRALEX BANK</ion-option><ion-option>Providus Bank</ion-option>
                </ion-select>
            </ion-item>

            <div align="center">
                <ion-spinner *ngIf="loadingAccount" name="crescent"></ion-spinner>
            </div>

            <div class="bank-type" padding *ngIf="accountName">
                <p>Account Name - {{accountName}}</p>
                <!--<img src="assets/svgs/icons svg compressed-08.svg" alt="Tick">-->
            </div>
            <hr>
            <div class="bank-acct-no" padding>
                <p>Account Number</p>
                <ion-input type="tel" [(ngModel)]="accountNumber" (ionFocus)="checkBank()" (ionBlur)="resolveAccountName()" placeholder="0000-0000-0000"></ion-input>
            </div>
            <hr>
            <div class="points" padding>
                <div class="row">
                    <p col-7>Amount</p>
                    <p col-5>Points</p>
                </div>
                <div class="row">
                    <div col-7 class="no-of-points">
                        <P>&#x20A6;{{transferAmount}}</P>
                    </div>

                    <div col-5 class="no-of-points">
                        <img class="svg" src="assets/svgs/icons svg compressed-03.svg" alt="Points"/>
                        <ion-input type="tel" [(ngModel)]="transferAmountInPoints" (input)="calculateTransferAmount()" placeholder="0.00"></ion-input>
                    </div>
                </div>
            </div>
            <hr>
            <div class="password" padding>
                <p>Password</p>
                <ion-input type="password" [(ngModel)]="password" placeholder="xxxxxxxxxxxx"></ion-input>
            </div>
            <hr>
            <div align="center">
                <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
            </div>

            <div class="confirm-button">
                <button class="strom-orange-button" [disabled]="loading" (tap)="cashoutTransfer()" >Confirm</button>
            </div>
        </ion-list>

        <ion-list *ngSwitchCase="'airtime'">
            <div class="payment-type" padding>
                <p>Please choose your payment method</p>
            </div>
            <hr>

            <ion-item>
                <ion-label class="banklabel">Network</ion-label>
                <ion-select [(ngModel)]="network" interface="popover">
                    <ion-option value="Airtel">Airtel</ion-option>
                    <ion-option value="Mtn">Mtn</ion-option>
                    <ion-option value="Glo">Glo</ion-option>
                    <ion-option value="9mobile">9mobile</ion-option>
                </ion-select>
            </ion-item>

            <!--<div class="bank-type" padding>-->
                <!--<p>Airtel</p>-->
                <!--<img src="assets/svgs/icons svg compressed-08.svg" alt="Tick">-->
            <!--</div>-->
            <hr>
            <div class="bank-acct-no" padding>
                <p>Phone Number</p>
                <ion-input type="tel" [(ngModel)]="phoneNumber" placeholder="0000-0000-0000"></ion-input>
            </div>
            <hr>
            <div class="points" padding>
                <div class="row">
                    <p col-6>Points</p>
                    <p col-6>Amount</p>
                </div>
                <div class="row">
                    <div col-6 class="no-of-points">
                        <img class="svg" src="assets/svgs/icons svg compressed-03.svg" alt="Points"/>
                        <p>{{airtimeAmountInPoints}}</p>
                    </div>

                    <div col-6 class="no-of-points">

                        <span style="color: white;">&#x20A6;</span>
                        <ion-input disabled="" type="text" [(ngModel)]="airtimeAmountInPoints"  placeholder="0.00"></ion-input>
                        <ion-item>
                            <ion-select [(ngModel)]="airtimeAmount" interface="popover" (ionBlur)="calculateAmount()">
                                <ion-option>1000</ion-option>
                                <ion-option>3000</ion-option>
                                <ion-option>5000</ion-option>
                            </ion-select>
                        </ion-item>

                    </div>
                </div>
            </div>
            <hr>
            <div class="password" padding>
                <p>Password</p>
                <ion-input type="password" [(ngModel)]="password" placeholder="xxxxxxxxxxxx"></ion-input>
            </div>
            <hr>
            <div align="center">
                <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
            </div>

            <div class="confirm-button">
                <button class="strom-orange-button" [disabled]="loading" (tap)="cashoutAirtime()">Confirm</button>
            </div>
        </ion-list>
    </div>

</ion-content>
