page-cashout {

  ion-content {
    background-color: #2A273D !important;

  }
  p {
    color: #fff;
  }
  .header-logo-section, .header-title-section, .social-filter-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-logo-section {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }

  .header-title-section {
    color: #fff;
    font-size: 18px;
    margin-top: 0;
    padding: 10px 16px !important;
  }

  // added by toby
  .header-logo-section .user-icon {
    margin-top: -2px;
  }
  .logo-holder {
    img{
      height:60px;
      margin-top: 5px;
    }
  }

  .no-of-points ion-select{
    min-width: 100%;
  }

  //end added by toby

  .logo-holder {
    .svg {
      max-width: 170px !important;
      margin-left: -10px;
    }
  }
  .title-holder p {
    margin: 0;
  }
  .user-coins {
    display: flex;
    align-items: center;
    background: rgba(98, 94, 94, 0.25);
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 18px;
    img {
      max-height: 25px;
      width: 25px;
      margin-right: 5px;
    }
  }

  .cashout-type {
    display: flex;
    justify-content: space-between;
  }
  .cashout-type p, .bank-type p {
    text-transform: uppercase;
    margin: 0;
  }
  .cashout-type p:first-child, .bank-type p, .bank-acct-no p {
    color: white;
  }
  .cashout-type p:first-child {
    font-weight: bold;
  }
  .bank-type p {
    font-weight: bold;
  }
  .payment-type {
    padding: 0 16px 5px !important;
  }
  .payment-type p {
    margin: 5px 0 0;
    font-size: 12px;
  }
  hr {
    height: 0.5px !important;
    background-color: #AAADB4 !important;
  }
  .bank-type, .total-points {
    display: flex;
    justify-content: space-between;
    padding: 11px 16px !important;
  }
  .bank-type {
    padding: 16px !important;
    img {
      max-height: 16px;
    }
  }
  .bank-type p {
    text-transform: none;
  }
  .bank-acct-no, .password {
    padding: 11px 16px !important;
  }
  .bank-acct-no p:first-child, .points p, .password p:first-child {
    font-size: 12px;
    margin: 0;
  }
  .bank-acct-no p:nth-child(2), .password p:nth-child(2) {
    margin-bottom: 0;
  }
  .bank-acct-no, .password {
    p {
      margin-bottom: 15px !important;
    }
  }
  .points {
    padding: 6px 16px !important;
  }
  .no-of-points {
    display: flex;
    align-items: center;
  }
  .no-of-points img {
    margin-right: 7px;
    max-height: 25px;
  }
  .confirm-button {
    width: 60%;
    margin: 50px auto 0;
  }
  .confirm-button .strom-orange-button {
    width: 100%;
    padding: 10px 0;
    font-size: 18px;
    border-radius: 4px;
  }
  .text-input {
    margin: 0;
  }
  .list-md {
    margin: 15px 0 16px;
  }
  .segment-md .segment-button {
    color: #AAADB4;
    border-bottom-color: transparent;
    font-size: 15px;
  }
  .segment-md .segment-button.segment-activated {
    border-color: #FFF;
    color: white;
  }
  input {
    color: white !important;
  }

  // added by Toby

  .item-cover{
    //background:#2A273D !important;
    color:white !important;
  }


  ion-item.item-block{
    padding:0;
  }

  ion-item .banklabel{
    padding-left: 16px;
  }
  .input-wrapper, .item-inner, .item-list, .item {
    background:#2A273D !important;
    color:white !important;
  }

  //end code added by Toby
}
