page-upload-photo {


  ion-content{
    background-size: cover !important;
    background: url("../assets/imgs/uploadbackground.png") no-repeat center center fixed;
    background-color: #2A273D !important;
  }

  ion-content > div{
    width: 100% !important;
  }

  .skip{
    float: right;
    position: relative;
    line-height: normal;
    font-size: 18px;
    text-align: center;
    letter-spacing: 1.6px;
    color: #FFFFFF;
    right: 30px;
    top: 30px;
  }

  .title{
    margin-top:20vh;
    line-height: normal;
    font-size: 24px;
    text-align: center;
    letter-spacing: 1.6px;
    color: #FAFAFA;
  }

  img{
    width:50%;
  }

  .image-holder {
    position: relative;
  }
  .upload-icon {
    background: #FAC134;
    border-radius: 50%;
    height: 25px;
    width: 25px;
   font-size: 20px;
    color: #fff;
    position: absolute;
    right: 100px;
    bottom: 25px;
  }

  .smalldesc{
    line-height: normal;
    font-size: 18px;
    text-align: center;
    letter-spacing: 1.6px;
    color: #FAFAFA;

  }

  .photodesc{
    line-height: normal;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1.6px;
    color: #FAFAFA;


  }

}
