<ion-content no-bounce>

    <p class="skip" (tap)="skip()">Skip</p>
    <div>
        <div align="center">
            <p class="title">Welcome {{userProvider.user.name}}</p>
            <div class="image-holder">
                <img (tap)="uploadPhoto()" src="assets/imgs/default-male.png">
                <!-- <div class="upload-icon">+</div> -->
            </div>
            <p class="smalldesc">You're all set</p>
            <p class="photodesc">Take a minute to upload a profile photo</p>
        </div>
    </div>

</ion-content>
