// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.top-notification{
  font-size: 15px;
  top: -7px;
  left: -4px;
  position: relative;
}

.env{
  color:white;
  float: left;
}
body{
  font-family: 'SF Pro Display', serif !important;
}

.task-description-data .data-title{
  font-family: 'SF Pro Display', serif !important;
}

ion-content{
  background-color: #2A273D !important;
}

.menu-header{
  padding:30px 16px;
  background-color: #2A273D;
  border-bottom: 1px solid rgba(255,255,255,0.7);
}
.item-listing-parent {
  margin-top: 30px;
}

.menu-header img{
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.slider-menu-button{
  color:white;
  font-size: 25px;
  padding: 0;
  float: left;
  margin:0;
  height: 2.8em;
}
.sidemenu-username {
  font-size: 20px;
  color: #FABC2F;
  margin: 15px 0 5px;
}
.sidemenu-useremail {
  font-size: 12px;
  color: #FFFFFF;
  margin: 0;
}
.list-ios > .item-listing:first-child {
  border-top: transparent !important;
}
.list-ios > .item-block:last-child {
  border-bottom: transparent !important;
}
.item-listing {
  background: transparent !important;
  padding-left: 30px;
  p {
    color: #FABC2F;
    font-size: 15px;
    margin-left: 10px;
  }
  .item-inner {
    border-bottom: transparent !important;
  }
  .menu-lists {
    display: flex;
    align-items: center;
  }
  .icon-holder {
    text-align: center;
    width: 25px;
  }
}
.strom-orange-button{
  color:white;
  background: #FABC2F;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

ion-spinner * {
  stroke: #fff !important;
}

ion-content{
  margin-bottom: 20px !important;
}

.logo-holder img{
  height:80px;
}

.has-refresher > .scroll-content{
  border-top: 1px solid transparent;
}
