<ion-menu [content]="content" id="mainMenu">
    <ion-content>
        <div class="menu-header" *ngIf="user">
            <img *ngIf="user.image" [src]="user.image">
            <img *ngIf="!user.image" src="assets/imgs/user-img.png">
            <p class="sidemenu-username" >{{user.name}}</p>
            <p class="sidemenu-useremail">{{user.email}}</p>
        </div>
        <ion-list class="item-listing-parent">
            <ion-item class="item-listing" (tap)="goToOffers()" menuClose>
                <div class="menu-lists">
                    <div class="icon-holder">
                        <img src="assets/svgs/bargains.svg" />
                    </div>
                    <p>Offers</p>
                </div>
            </ion-item>
            <!--<ion-item class="item-listing" (tap)="goToAdvertise()" menuClose>-->
                <!--<div class="menu-lists">-->
                    <!--<div class="icon-holder">-->
                        <!--<img src="assets/svgs/advertise.svg" />-->
                    <!--</div>-->
                    <!--<p>Advertise</p>-->
                <!--</div>-->
            <!--</ion-item>-->
            <ion-item class="item-listing" (tap)="goToMyAds()" menuClose>
                <div class="menu-lists">
                    <div class="icon-holder">
                        <img src="assets/svgs/megaphone.svg" />
                    </div>
                    <p>My Ads</p>
                </div>
                <ion-badge color="danger" *ngIf="user.adNotifications > 0" item-end>{{user.adNotifications}}</ion-badge>
            </ion-item>
            <ion-item class="item-listing" (tap)="goToMyTasks()" menuClose>
                <div class="menu-lists">
                    <div class="icon-holder">
                        <img src="assets/svgs/user.svg" />
                    </div>
                    <p>My Tasks</p>
                </div>
                <ion-badge color="danger" *ngIf="user.taskNotifications > 0" item-end>{{user.taskNotifications}}</ion-badge>

            </ion-item>
            <ion-item class="item-listing" (tap)="goToFund()" menuClose>
                <div class="menu-lists">
                    <div class="icon-holder">
                        <img src="assets/svgs/credit-card (2).svg" />
                    </div>
                    <p>Fund Account</p>
                </div>
            </ion-item>
            <ion-item class="item-listing" (tap)="goToTerms()" menuClose>
                <div class="menu-lists">
                    <div class="icon-holder">
                        <img src="assets/svgs/more.svg" />
                    </div>
                    <p>Terms & Conditions</p>
                </div>
            </ion-item>
            <ion-item class="item-listing" (tap)="goToHelp()" menuClose>
                <div class="menu-lists">
                    <div class="icon-holder">
                        <img src="assets/svgs/help.svg" />
                    </div>
                    <p>Help</p>
                </div>
            </ion-item>
            <ion-item class="item-listing" (tap)="logout()" menuClose>
                <div class="menu-lists">
                    <div class="icon-holder">
                        <img src="assets/svgs/user.svg" />
                    </div>
                    <p>Logout</p>
                </div>
            </ion-item>

        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav #content [root]="rootPage"></ion-nav>
