page-my-ads {

  .filter-holder{
    width:40%;
  }

  .nothing h4 {
    font-weight: 800;
    text-transform: capitalize;
    line-height: 24px;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
  }

  .nothing p {
    text-align: center;
    line-height: 16px;
    font-size: 14px;
    color: #A9A9B0;
  }

  ion-content {
    background-color: #2A273D !important;
  }

  .header-logo-section, .header-title-section, .social-filter-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-logo-section {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }

  // added by toby
  .header-logo-section .user-icon {
    margin-top: -2px;
  }
  .logo-holder {
    img{
      height:60px;
      margin-top: 5px;
    }
  }

  .searchbar-input{
    background-color: #2A273D !important;
  }

  .searchbar{
    background: transparent !important;
  }
  .searchbar-search-icon{
    display: none;
  }
  .searchbar-input::placeholder, .searchbar-search-icon { /* Chrome/Opera/Safari */
    color: white !important;
  }


  //end added by toby

  .header-title-section {
    color: #fff;
    font-size: 18px;
    margin-top: 0;
    padding: 10px 16px !important;
  }
  .logo-holder {
    .svg {
      max-width: 170px !important;
      margin-left: -10px;
    }
  }
  .title-holder p {
    margin: 0;
  }
  .user-coins {
    display: flex;
    align-items: center;
    background: rgba(98, 94, 94, 0.25);
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 18px;
    img {
      max-height: 25px;
      width: 25px;
      margin-right: 5px;
    }
  }

  .segment-md .segment-button {
    color: #fff;
    border-bottom-color: #fff;
    font-size: 12px;
  }
  .segment-md .segment-button.segment-activated {
    border-color: #FABD30;
    color: #FABD30;
  }
  .header-title-section {
    color: #fff;
    font-size: 18px;
    margin-top: 0;
    padding: 10px 16px !important;
  }

  .sort-dropdown {
    display: flex;
    align-items: center;
  }
  ion-list {
    margin-bottom: 0 !important;
    background: transparent;
  }
  ion-item {
    background-color: transparent !important;
    padding-left: 0 !important;
  }
  ion-select {
    max-width: 100% !important;
    color: #AAADB4;
    padding: 13px 8px 13px 5px;
  }
  .list-ios > .item-block:first-child, .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
    border-top: none !important;
    border-bottom: none !important;
  }

  .social-filter-section {
    margin-top: 0;
    padding: 0 16px !important;
  }
  .social-filter-section p {
    margin: 0;
    color: #AAADB4;
    font-size: 16px;
  }
  .task-listings, .community-listings {
    background: #fff;
    border-radius: 10px;
    margin: 0 16px 15px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 8px 16px !important;
  }
  .task-listings p, .community-listings p {
    margin: 5px;
  }
  .task-listing-body, .community-listing-body {
    color: #625E5E;
    font-size: 11px;
    margin-right: 10px;
  }
  .task-listing-header, .community-listing-header {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .task-listing-image {
    margin-right: 10px;
  }
  .task-listing-image img {
    height: 35px;
  }
  .community-listing-image {
    margin-right: 0px;
  }
  .community-img {
    min-width: 100%;
    height: 77px;
  }
  .coins-number {
    margin-left: -50px !important;
    color: #625E5E;
    font-size: 12px;
    text-align: center;
  }
  .proceed-icon {
    position: absolute;
    background: #FABD30;
    right: 13px;
    border-radius: 50%;
    padding: 6px;
    bottom: 10px;
    img {
      width: 15px;
    }
  }

  .task-listings .earn {
    display: flex;
    align-items: center;
    p {
      margin: 0 5px;
    }
    img {
      max-height: 20px;
    }
  }

  .earn-social {
    display: flex;
    align-items: center;
    color: #625E5E;
    font-weight: 400;
    font-size: 12px;
    p {
      color: #625E5E;
      font-weight: 400;
      font-size: 12px;
      margin: 0 5px;
      overflow: visible;
      width: auto !important;
    }
    img {
      margin-right: 5px;
      max-height: 20px;
    }
  }

  .earn {
    display: flex;
    align-items: center;
    p {
      margin: 0 5px;
    }
    img {
      max-height: 20px;
    }
  }

  .community-listings {
    border-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .community-listings .image-column {
    padding: 0 !important;
    width: 25%;
  }
  .community-listings .text-column {
    width:75%;
    padding: 0 5px !important;
    // margin-left: -25px;
  }
  .play-icon {
    position: absolute;
    top: 35%;
    left: 20%;
  }
  .video-play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height:30px;
    margin-top:-58px;
    margin-left: -16px;
  }
  .video-listings {
    padding: 0;
  }
  .video-column .card, .video-column .card-ios {
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
  ion-card {
    position: relative;
    img:first-child {
      //height: 100px;
      //max-height: 100px;
      height: 20vh;
      max-height: 20vh;
    }
  }
  .card-title {
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    padding: 0 !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

  }
  .card-title-ios {
    padding: 0 !important;
  }
  .card-subtitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 11px;
    color: #000000;
  }
  .card-content {
    padding: 7px !important;
  }
  .username-earnings {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .video-earnings {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    p {
      margin-bottom: 0;
      font-size: 12px;
    }
  }
  .video-earning-coin {
    max-height: 20px !important;
    width: auto;
    display: inline-block;
    margin-right: 3px;
  }
  @media (max-width: 425px) {
    .task-listing-header p, .community-listing-header p {
      width: 95%;
    }
  }
  @media (max-width: 767px) {
    .community-listings p {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }


}
