<!--
  Generated template for the OffersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content no-bounce>


    <div class="header-logo-section" padding>
        <div class="logo-holder">
            <button ion-button clear class="slider-menu-button" menuToggle>
              <ion-icon ios="ios-menu" md="ios-menu" name="menu"></ion-icon>
                <ion-icon class="top-notification" *ngIf="userProvider.user.adNotifications + userProvider.user.taskNotifications > 0" color="danger" name="alert" ></ion-icon>
            </button>
          <img src="assets/svgs/logo.svg">
        </div>
        <div class="user-icon">
          <img (tap)="userDetail()" src="assets/svgs/user-icon.svg">
        </div>
      </div>


    <div class="header-title-section" padding>
        <div class="title-holder">
            <p>My Ads</p>
        </div>
        <div class="user-coins">
            <img src="assets/svgs/icons svg compressed-03.svg">{{userProvider.points}}
        </div>
    </div>


    <ion-segment mode="md" [(ngModel)]="section">
        <ion-segment-button value="social" (tap)="updateSection('social')">
            Social Tasks
        </ion-segment-button>
        <ion-segment-button value="video" (tap)="updateSection('video')">
            Videos
        </ion-segment-button>
        <ion-segment-button value="community" (tap)="updateSection('community')">
            Community
        </ion-segment-button>
    </ion-segment>


    <div [ngSwitch]="section">
        <ion-list *ngSwitchCase="'social'">
            <div class="social-filter-section" padding>
                <div class="filter-holder">
                    <p>Filters</p>
                </div>
                <div class="sort-by">
                    <p class="sort-dropdown">Sort By:
                        <ion-list>
                            <ion-item>
                                <ion-select (ionChange)="getTasks()" [(ngModel)]="taskSorting">
                                    <ion-option value="created_at-desc">Date</ion-option>
                                    <ion-option value="points-desc">Points</ion-option>
                                </ion-select>
                            </ion-item>
                        </ion-list>
                    </p>
                </div>
            </div>

            <ion-refresher (ionRefresh)="doRefresh($event)">
            <ion-refresher-content></ion-refresher-content>
            </ion-refresher>

            <div align="center">
                <ion-spinner name="crescent" *ngIf="loading"></ion-spinner>
            </div>

            <div class="nothing" align="center" *ngIf="taskData.length == 0">
                <img src="assets/svgs/nothing.svg">
                <h4>Nothing to see here</h4>
                <p>Check out other tasks on the activity tab</p>
            </div>


            <div class="task-listings" (tap)="goToDetails(task)" padding *ngFor="let task of taskData">
                <ion-icon color="danger" name="alert" *ngIf="task.notifications > 0"></ion-icon>

                <div class="task-listing-image">
                    <img src="assets/svgs/icons svg compressed-03.svg">
                </div>
                <div class="task-listing-content">
                    <div class="task-listing-header">
                        <p>{{ task.name }}</p>
                        <div class="earn-social">
                            <p>Earn</p>
                            <img src="assets/svgs/icons svg compressed-03.svg"> {{task.formattedPoints}}
                        </div>
                    </div>
                </div>
                <div class="proceed-icon">
                    <img (tap)="goToDetails(task)" src="assets/svgs/icons svg compressed-06.svg">
                </div>
            </div>

            <ion-infinite-scroll threshold="10px" (ionInfinite)="loadMore($event)">
                <ion-infinite-scroll-content
                        loadingSpinner="crescent"
                ></ion-infinite-scroll-content>
            </ion-infinite-scroll>

        </ion-list>

        <ion-list *ngSwitchCase="'video'">
            <div class="social-filter-section" padding>
                <div class="filter-holder">
                    <p>Filters</p>
                </div>
                <div class="sort-by">
                    <p class="sort-dropdown">Sort By:
                        <ion-list>
                            <ion-item>
                                <ion-select (ionChange)="getTasks()" [(ngModel)]="videoSorting">
                                    <ion-option value="created_at-desc">Date</ion-option>
                                    <ion-option value="points-desc">Points</ion-option>
                                </ion-select>
                            </ion-item>
                        </ion-list>
                    </p>
                </div>
            </div>

            <div align="center">
                <ion-spinner name="crescent" *ngIf="loading"></ion-spinner>
            </div>

            <div class="nothing" align="center" *ngIf="videoData.length == 0">
                <img src="assets/svgs/nothing.svg">
                <h4>Nothing to see here</h4>
                <p>Check out other tasks on the activity tab</p>
            </div>

            <div class="video-listings">
                <div class="row">

                    <div col-6 class="video-column" *ngFor="let video of videoData" (tap)="goToVideoDetails(video)">
                        <ion-card>
                            <img *ngIf="video.media.length > 0 && video.media[0].thumbnail" [src]="video.media[0].thumbnail" />
                            <img *ngIf="!video.media[0].thumbnail" src="assets/imgs/default-image.jpg" />
                            <img src="../../assets/svgs/play.svg" class="video-play-icon" />
                            <ion-card-content>
                                <ion-card-title>
                                    {{ video.name }}
                                </ion-card-title>
                                <p class="card-subtitle">
                                    {{ video.shortDescription }}
                                </p>
                                <p class="card-subtitle">
                                    Unique Viewers: {{video.uniqueViewers}}
                                </p>
                                <div class="username-earnings">
                                    <p class="card-subtitle">
                                        By @{{video.user.username}}
                                    </p>
                                    <div class="video-earnings">
                                        <img class="video-earning-coin" src="assets/svgs/icons svg compressed-03.svg">
                                        <p>{{video.formattedPoints}}</p>
                                    </div>
                                </div>
                            </ion-card-content>
                        </ion-card>
                    </div>
                </div>
            </div>

            <ion-infinite-scroll threshold="10px" (ionInfinite)="loadMore($event)">
                <ion-infinite-scroll-content loadingSpinner="crescent"></ion-infinite-scroll-content>
            </ion-infinite-scroll>

        </ion-list>

        <ion-list *ngSwitchCase="'community'">
            <div class="social-filter-section" padding>
                <div class="filter-holder">
                    <p>Filters</p>
                </div>
                <div class="sort-by">
                    <p class="sort-dropdown">Sort By:
                        <ion-list>
                            <ion-item>
                                <ion-select (ionChange)="getTasks()" [(ngModel)]="communitySorting">
                                    <ion-option value="created_at-desc">Date</ion-option>
                                    <ion-option value="points-desc">Points</ion-option>

                                    <ion-option value="location-nigeria" >Location - Nigeria</ion-option>
                                    <ion-option value="location-abuja">Location - Abuja</ion-option>
                                    <ion-option value="location-abia" >Location - Abia</ion-option>
                                    <ion-option value="location-adamawa" >Location - Adamawa</ion-option>
                                    <ion-option value="location-anambra" >Location - Anambra</ion-option>
                                    <ion-option value="location-akwa ibom" >Location - Akwa Ibom</ion-option>
                                    <ion-option value="location-bauchi" >Location - Bauchi</ion-option>
                                    <ion-option value="location-bayelsa" >Location - Bayelsa</ion-option>
                                    <ion-option value="location-benue" >Location - Benue</ion-option>
                                    <ion-option value="location-borno" >Location - Borno</ion-option>
                                    <ion-option value="location-cross river" >Location - Cross River</ion-option>
                                    <ion-option value="location-delta" >Location - Delta</ion-option>
                                    <ion-option value="location-ebonyi" >Location - Ebonyi</ion-option>
                                    <ion-option value="location-enugu" >Location - Enugu</ion-option>
                                    <ion-option value="location-edo" >Location - Edo</ion-option>
                                    <ion-option value="location-ekiti" >Location - Ekiti</ion-option>
                                    <ion-option value="location-gombe" >Location - Gombe</ion-option>
                                    <ion-option value="location-imo" >Location - Imo</ion-option>
                                    <ion-option value="location-jigawa" >Location - Jigawa</ion-option>
                                    <ion-option value="location-kaduna" >Location - Kaduna</ion-option>
                                    <ion-option value="location-kano" >Location - Kano</ion-option>
                                    <ion-option value="location-katsina" >Location - Katsina</ion-option>
                                    <ion-option value="location-kebbi" >Location - Kebbi</ion-option>
                                    <ion-option value="location-kogi" >Location - Kogi</ion-option>
                                    <ion-option value="location-kwara" >Location - Kwara</ion-option>
                                    <ion-option value="location-lagos">Location - Lagos</ion-option>
                                    <ion-option value="location-nasarawa" >Location - Nasarawa</ion-option>
                                    <ion-option value="location-niger" >Location - Niger</ion-option>
                                    <ion-option value="location-ogun" >Location - Ogun</ion-option>
                                    <ion-option value="location-ondo" >Location - Ondo</ion-option>
                                    <ion-option value="location-osun" >Location - Osun</ion-option>
                                    <ion-option value="location-oyo" >Location - Oyo</ion-option>
                                    <ion-option value="location-plateau" >Location - Plateau</ion-option>
                                    <ion-option value="location-rivers" >Location - Rivers</ion-option>
                                    <ion-option value="location-sokoto" >Location - Sokoto</ion-option>
                                    <ion-option value="location-taraba" >Location - Taraba</ion-option>
                                    <ion-option value="location-yobe" >Location - Yobe</ion-option>
                                    <ion-option value="location-zamfara" >Location - Zamfara</ion-option>

                                </ion-select>
                            </ion-item>
                        </ion-list>
                    </p>
                </div>
            </div>

            <div align="center">
                <ion-spinner name="crescent" *ngIf="loading"></ion-spinner>
            </div>

            <div class="nothing" align="center" *ngIf="communityData.length == 0">
                <img src="assets/svgs/nothing.svg">
                <h4>Nothing to see here</h4>
                <p>Check out other tasks on the activity tab</p>
            </div>


            <div class="community-listings" (tap)="goToDetails(community)" *ngFor="let community of communityData">
                <div class="row" style="width: 100%">
                    <div col-3 class="image-column">
                        <ion-icon color="danger" name="alert" *ngIf="community.notifications > 0"></ion-icon>
                        <div class="community-listing-image" style="position: relative;">
                            <img class="community-img" *ngIf="community.media.length > 0" [src]="community.media[0].url">
                            <img class="community-img" *ngIf="community.media.length <= 0" src="../assets/imgs/video1.png">
                        </div>
                    </div>
                    <div col-9 class="text-column">
                        <div class="community-listing-content">
                            <div class="community-listing-header">
                                <p>{{ community.name }}</p>
                            </div>
                            <div class="community-listing-body">
                                <p>{{ community.shortDescription }}</p>
                            </div>
                        </div>
                        <div class="earn">
                            <p>Earn</p>
                            <img src="assets/svgs/icons svg compressed-03.svg">{{community.formattedPoints}}
                        </div>

                        <div class="proceed-icon">
                            <img (tap)="goToDetails(community)" src="assets/svgs/icons svg compressed-06.svg">
                        </div>
                    </div>
                </div>
            </div>

            <ion-infinite-scroll threshold="10px" (ionInfinite)="loadMore($event)">
                <ion-infinite-scroll-content
                        loadingSpinner="crescent"
                ></ion-infinite-scroll-content>
            </ion-infinite-scroll>


        </ion-list>
    </div>


</ion-content>
