page-video-ad-details {

  .vcoin{
    float: left;
    width:20px !important;
  }

  video{
    background-color: black;
  }
  .video-container{
    width: 100%;
  }

  .video-container video{
    margin:20px auto;
    width:100%;
  }

  .hidden{
    display: none;
  }

  .video-play-icon {
    position: absolute;
    top: 35%;
    left: 45%;
    width: auto;
  }
  .video-listings {
    padding: 0 ;
  }
  .video-column .card, .video-column .card-ios {
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
  ion-card {
    position: relative;
    img:first-child {
      //height: 100px;
      //max-height: 100px;
      height: 30vh;
      max-height: 30vh;
    }
  }
  .card-title {
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    padding: 0 !important;
  }
  .card-title-ios {
    padding: 0 !important;
  }
  .card-subtitle {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 11px;
    color: #000000;
  }
  .card-content {
    padding: 7px !important;
  }
  .username-earnings {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .video-earnings {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    p {
      margin-bottom: 0;
      font-size: 12px;
    }
  }
  .video-earning-coin {
    max-height: 20px !important;
    width: auto;
    display: inline-block;
    margin-right: 3px;
  }
  @media (max-width: 425px) {
    .task-listing-header p, .community-listing-header p {
      width: 95%;
    }
  }


  //----------
    .proceed-icon{

    }
    .proceed-icon button{
      float:right;
    }
    .approve-button{
      color: #32db64;
      font-size:25px;
    }

    .reject-button{
      font-size:25px;
      color:darkred;
    }


    .reject-all{
      background-color: darkred;
    }
    .approve-all{
      margin-bottom:10px;
      //float:right;
      //margin:50px;
    }
    .buttons-section{
      width:100%;
      display: flex;
      justify-content: center;
    }

    .black-text{
      color:black !important;
    }

    ion-content{
      background-color: #2A273D !important;
    }
    p {
      color: #fff;
    }

    .warning-label{
      background-color: #FABC2F;
      color:white;
      padding:5px;
      text-align: center;
    }
    .reject-label{
      background-color: darkred;
      color:white;
      padding:5px;
      text-align: center;
    }
    .approved-label{
      background-color: green;
      color:white;
      padding:5px;
      text-align: center;
    }
    .header-logo-section, .header-title-section{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 0px;
      padding: 10px 16px !important;
    }
    .logo-holder {
      display: flex;
      align-items: center;
      .topImage {
        margin-right: 15px;
        height: auto;
      }
      img {
        height: auto;
      }
      .svg {
        max-width: 170px !important;
        margin-left: -10px;
      }
    }
    .header-title-section {
      color: #fff;
      font-size: 18px;
      margin-top: 0;
    }
    .title-holder p{
      margin: 0;
    }

    .user-coins {
      display: flex;
      align-items: center;
      background: rgba(98, 94, 94, 0.25);
      border-radius: 20px;
      padding: 5px 10px;
      font-size: 18px;
      img {
        max-height: 25px;
        width: 25px;
        margin-right: 5px;
      }
    }

  .task-description-data{
    padding: 16px 37px !important;
  }

  .task-description > [col-12]{
    padding: 0;
  }
    .task-description {


      border-top: 1px solid #fff;
      .task-description-header {
        p {
          font-size: 20px;
        }
      }
      .task-description-body {
        p {
          font-size: 14px;
        }
      }
      .task-description-data {
        margin: 30px 0 20px;
        color: #fff;
        .data-title {
          text-transform: uppercase;
          font-weight: lighter;
          font-size: 12px;
        }
        .data-number {
          font-weight: bold;
          font-size: 16px;
        }
        .row{
          display: flex;
          align-items: center;
        }
        [col-12] {
          border-top: 0.5px solid #fff;
          padding: 5px 0;
        }
        [col-6] {
          padding: 5px 0;
        }
      }
      .task-description-earnings {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        margin: 5px auto 20px;
        background: rgba(98, 94, 94, 0.25);
        border-radius: 20px;
        padding: 10px;
        img {
          height: 100%;
          margin: 0 10px;
          max-height: 25px;
        }
        p {
          font-size: 20px;
          text-transform: uppercase;
          font-weight: bold;
          margin: 0;
        }
      }

      .start-task-button {
        text-align: center;
        button {
          border-radius: 20px;
          padding: 0px 30px;
          font-size: 13px !important;
        }
      }
    }


    .social-filter-section {
      margin-top: 0;
      padding: 0 16px !important;
    }
    .social-filter-section p {
      margin: 0;
      color: #000;
      font-size: 16px;
    }
    .sort-dropdown {
      display: flex;
      align-items: center;
    }
    ion-list {
      margin-bottom: 0 !important;
      background: transparent;
    }
    ion-item {
      background-color: transparent !important;
      padding-left: 0 !important;
    }
    ion-select {
      max-width: 100% !important;
      color: #AAADB4;
      padding: 13px 8px 13px 5px;
    }
    .list-ios > .item-block:first-child, .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block  {
      border-top: none !important;
      border-bottom: none !important;
    }

    .task-listings > div{
      width: 100%;
    }
    .task-listings, .community-listings{
      border-radius: 10px;
      margin: 0 16px 15px;
      display: flex;
      align-items: center;
      position: relative;

    }
    .task-listings p, .community-listings p {
      margin: 5px;
      width:100%;
    }
    .task-listing-body, .community-listing-body {
      color: #625E5E;
      font-size: 11px;
      margin-right: 10px;
    }
    .task-listing-header, .community-listing-header {
      color: #000000 !important;
      font-size: 14px;
      font-weight: bold;
      width:100%;
    }

    .task-listing-image {
      margin-right: 10px;
    }
    .task-listing-image img{
      height: 35px;
    }

    .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
      border-color: #fff;
    }
    .segment-md .segment-button {
      color: #fff;
    }


    @media (max-width: 425px){
      .task-listing-header p, .community-listing-header p {
        width: 95%;
      }
    }


}
