<!--
  Generated template for the OffersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>

    <div class="header-logo-section" padding>
        <div class="logo-holder">
            <img class="topImage" (tap)="goBack()" src="assets/imgs/back.png">
            <img class="svg" src="assets/svgs/logo.svg">
        </div>
        <div class="user-icon">
            <img (tap)="userDetail()" src="assets/svgs/user-icon.svg">
        </div>
    </div>

    <div class="header-title-section" padding>
        <div class="title-holder">
            <p style="text-transform: capitalize">Video Task</p>
        </div>
        <div class="user-coins">
            <img src="assets/svgs/icons svg compressed-03.svg">
            {{userProvider.points}}
        </div>
    </div>

    <div ion-row="" class="task-description">


        <div col-12>
            <div class="video-listings">
                <div class="row">

                    <div class="video-container" >
                        <video #videop controls controlsList="nodownload" muted="true" [ngClass]="{hidden: !showVideo}"   webkit-playsinline="webkit-playsinline"  [poster]="video.media[0].thumbnail" *ngIf="video.media[0].thumbnail" playsinline looped preload="auto">
                            <source [src]="video.media[0].url" type="video/mp4">
                        </video>

                        <video #videop controls controlsList="nodownload" muted="true" [ngClass]="{hidden: !showVideo}" webkit-playsinline="webkit-playsinline"  *ngIf="!video.media[0].thumbnail" playsinline looped preload="auto">
                            <source [src]="video.media[0].url" type="video/mp4">
                        </video>
                    </div>

                    <div class="video-column" [ngClass]="{hidden: showVideo}" >
                        <ion-card (tap)="playVideo()" >
                            <img *ngIf="video.media.length > 0 && video.media[0].thumbnail"
                                 [src]="video.media[0].thumbnail"/>
                            <img [ngClass]="{hidden: showVideo}"  *ngIf="!video.media[0].thumbnail" src="assets/imgs/default-image.jpg"/>
                            <img [ngClass]="{hidden: showVideo}"  src="../../assets/imgs/play-button.png" class="video-play-icon" />
                            <ion-card-content>
                                <ion-card-title>
                                    {{ video.name }}
                                </ion-card-title>
                                <p class="card-subtitle">
                                    {{ video.shortDescription }}
                                </p>
                                <div class="username-earnings">
                                    <p class="card-subtitle">
                                        By @{{video.user.username}}
                                    </p>
                                    <div class="video-earnings">
                                        <img class="video-earning-coin" src="assets/svgs/icons svg compressed-03.svg">
                                        <p>{{video.formattedPoints}}</p>
                                    </div>
                                </div>
                            </ion-card-content>
                        </ion-card>
                    </div>
                </div>
            </div>

        </div>
        <!--<div col-6>-->
            <!--<div class="task-description-header">-->
                <!--<p>{{ video.name }} </p>-->
            <!--</div>-->
            <!--<div class="task-description-body">-->
                <!--<p> {{ video.longDescription }} </p>-->
            <!--</div>-->

        <!--</div>-->

        <div class="task-description-data">
            <div class="row">

                <div class="row">
                    <div col-12>
                        <div class="row">
                            <div col-6 class="data-title">Max No of Users</div>
                            <div col-6 class="data-number">{{ video.maxUsers }}</div>
                        </div>
                    </div>
                    <div col-12>
                        <div class="row">
                            <div col-6 class="data-title">Date of Expiry</div>
                            <div col-6 class="data-number">{{ video.formattedExpiry }}</div>

                        </div>
                    </div>
                </div>


                <div style="width:100%" *ngIf="!loading">
                    <div class="row">
                        <div col-12>
                            <div class="row">
                                <div col-6 class="data-title" *ngIf="video.type =='videop2v'">Total Earned</div>
                                <div col-6 class="data-title" *ngIf="video.type =='videov2e'">Total Spent</div>
                                <div col-6 class="data-number">
                                    <img class="video-earning-coin vcoin" src="assets/svgs/icons svg compressed-03.svg">
                                    {{ video.totalEarned }}
                                </div>
                            </div>
                        </div>
                        <div col-12>
                            <div class="row">
                                <div col-6 class="data-title">Unique Viewers</div>
                                <div col-6 class="data-number">{{ video.noOfViewers }}</div>

                            </div>
                        </div>
                        <div col-12>
                            <div class="row">
                                <div col-6 class="data-title">Views</div>
                                <div col-6 class="data-number">{{video.media[0].views}}</div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div align="center">
        <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
    </div>

</ion-content>
