<ion-content no-bounce>

    <div class="top-section">
    </div>
    <div class="bottom-section" padding>
        <div align="center">
            <p>
                <img src="assets/svgs/vsuccess.svg">
            </p>
            <p class="head">Verify Email</p>
            <p class="info">An email has been sent to you for verification. Please check your inbox and spam and click the link in the email.</p>
        </div>

        <div align="center">
            <ion-spinner name="crescent" *ngIf="loading"></ion-spinner>
        </div>
        <p class="resend">
            Didn't receive the email?  <span (tap)="resendCode()">Resend</span>
        </p>
    </div>

</ion-content>
