page-verify {


  .top-section{

    background-image: url("../assets/svgs/coins.svg");
    background-size: contain;
    color:white;
    text-align: center;
    padding: 0;
    background-position: bottom;
    height: 160px;
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
  }

  .top-label{
    line-height: normal;
    font-size: 24px;
    text-align: center;
    letter-spacing: 1.6px;
  }
  .expiry {
    color: rgba(41, 187, 255, 0.5);
    margin: 20px 0;
  }

  .bottom-section img{
    margin-top: 10%;
  }

  .head{

    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    text-align: center;
    letter-spacing: 1.6px;

    color: white;

  }

  .bottom-section img.email {
    margin-top:-70px;
    width:80px;
    margin-left: auto;
    margin-right: auto;
  }

  p.info{
    line-height: normal;
    font-size: 16px;
    text-align: center;
    letter-spacing: 1.6px;
    color: white;

  }

  .inputs input{
    border-bottom: 1px solid grey;
    line-height: normal;
    font-size: 36px;
    text-align: center;
    letter-spacing: 1.6px;
    color: rgba(98, 94, 94, 0.73);
  }

  .resend{
    line-height: normal;
    font-size: 16px;
    text-align: center;
    letter-spacing: 1.6px;
    color: rgba(41, 187, 255, 0.5);
    bottom: 0;
    position: fixed;
    left: 16px;
    right: 16px;
  }

  .resend span{
    font-weight: bold;
  }

}
