
<ion-content>

    <div class="header-logo-section" padding>
        <div class="logo-holder">
            <img class="topImage" (tap)="goBack()" src="assets/imgs/back.png">
            <img class="svg" src="assets/svgs/logo.svg">
        </div>
        <div class="user-icon">
            <img (tap)="userDetail()" src="assets/svgs/user-icon.svg">
        </div>
    </div>

    <div class="header-title-section" padding>
        <div class="title-holder">
            <p style="text-transform: capitalize">{{task.type}} Task</p>
        </div>
        <div class="user-coins">
            <img src="assets/svgs/icons svg compressed-03.svg"> {{userProvider.points}}
        </div>
    </div>

    <div class="task-description" padding >
        <div class="task-description-header">
            <p>{{ task.name }} </p>
        </div>
        <div class="task-description-body">
            <p> {{ task.longDescription }} </p>
        </div>
        <div class="task-description-data">
            <div class="row">
                <div class="row">
                    <div col-12>
                        <div class="row">
                            <div col-6 class="data-title">Max No of Users</div>
                            <div col-6 class="data-number">{{ task.maxUsers }}</div>
                        </div>
                    </div>
                    <div col-12>
                        <div class="row">
                            <div col-6 class="data-title">Date of Expiry</div>
                            <div col-6 class="data-number">{{ task.formattedExpiry }}</div>

                        </div>
                    </div>
                </div>
                <div class="row" style="width: 100%">
                    <div col-12>
                        <div class="row">
                            <div col-6 class="data-title">Location</div>
                            <div col-6 class="data-number">{{ task.location }}</div>
                        </div>
                    </div>
                    <div col-12>
                        <div class="row">
                            <div col-6 class="data-title">Users who completed</div>
                            <div col-6 class="data-number">{{ task.completed }}</div>
                        </div>
                    </div>
                    <div col-12>
                        <div class="row">
                            <div col-6 class="data-title">Username</div>
                            <div col-6 class="data-number">{{ task.user.username }}</div>
                        </div>
                    </div>
                    <div col-12>
                        <div class="row" *ngIf="task.taskUser">
                            <div col-6 class="data-title">Your Task Code</div>
                            <div col-6 class="data-number">{{ task.taskUser.code }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" >
            <div class="column" *ngFor="let media of task.media">
                <img class="demo cursor" #imageToView (click)="viewImage(imageToView)" [src]="media.url" style="width:100%"  alt="The Woods">
            </div>
        </div>


        <div class="task-description-earnings">
            <p>earn</p>
            <img src="assets/svgs/icons svg compressed-03.svg">
            <p>{{task.formattedPoints}}</p>
        </div>
        <div align="center">
            <ion-spinner name="crescent" *ngIf="loading"></ion-spinner>
        </div>

        <div class="start-task-button">
            <button ion-button="" *ngIf="task.isStarted == 'false'" (tap)="startTask()" class="strom-orange-button">Start Task</button>
            <button ion-button="" style="background-color: green" *ngIf="task.isStarted == 'true' && task.userStatus == 'approved'"  (tap)="completeTask()" class="strom-orange-button">Complete Task</button>
        </div>

        <div  *ngIf="task.isStarted == 'true' && task.userStatus == 'pending'" class="label-ios warning-label">WAITING FOR APPROVAL</div>
        <div *ngIf="task.isStarted == 'true' && task.userStatus == 'completed'" class="label-ios warning-label">WAITING FOR VERIFICATION</div>
        <div *ngIf="task.isStarted == 'true' && task.userStatus == 'rejected'" class="label-ios reject-label">REJECTED</div>
        <div *ngIf="task.isStarted == 'true' && task.userStatus == 'verified'" class="label-ios reject-label">VERIFIED</div>
    </div>

</ion-content>
