page-community-description {


  /* Six columns side by side */
  .column {
    float: left;
    width: 31%;
    margin:1%;
  }

  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 1;
    height: 100px;
  }

  .active,
  .demo:hover {
    opacity: 1;
  }

//------------



  ion-content{
    background-color: #2A273D !important;
  }
  p {
    color: #fff;
  }

  .warning-label{
    background-color: #FABC2F;
    color:white;
    padding:5px;
    text-align: center;
    margin:10px 55px;

  }
  .reject-label{
    background-color: darkred;
    color:white;
    padding:5px;
    text-align: center;
    margin:10px 55px;

  }
  .approved-label{
    background-color: green;
    color:white;
    padding:5px;
    text-align: center;
    margin:10px 55px;

  }
  .header-logo-section, .header-title-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    padding: 10px 16px !important;
  }
  .logo-holder {
    display: flex;
    align-items: center;
    .topImage {
      margin-right: 15px;
      height: auto;
    }
    img {
      height: auto;
    }
    .svg {
      max-width: 170px !important;
      margin-left: -10px;
    }
  }
  .header-title-section {
    color: #fff;
    font-size: 18px;
    margin-top: 0;
  }
  .title-holder p{
    margin: 0;
  }

  .user-coins {
    display: flex;
    align-items: center;
    background: rgba(98, 94, 94, 0.25);
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 18px;
    img {
      max-height: 25px;
      width: 25px;
      margin-right: 5px;
    }
  }
  .task-description {
    padding: 16px 37px !important;
    border-top: 1px solid #fff;
    .task-description-header {
      p {
        font-size: 20px;
      }
    }
    .task-description-body {
      p {
        font-size: 14px;
      }
    }
    .task-description-data {
      margin: 30px 0 20px;
      color: #fff;
      .data-title {
        text-transform: uppercase;
        font-weight: lighter;
        font-size: 12px;
      }
      .data-number {
        font-weight: bold;
        font-size: 16px;
      }
      .row{
        display: flex;
        align-items: center;
      }
      [col-12] {
        border-top: 0.5px solid #fff;
        padding: 5px 0;
      }
      [col-6] {
        padding: 5px 0;
      }
    }
    .task-description-earnings {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 5px auto 20px;
      background: rgba(98, 94, 94, 0.25);
      border-radius: 20px;
      padding: 10px;
      img {
        height: 100%;
        margin: 0 10px;
        max-height: 25px;
      }
      p {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bold;
        margin: 0;
      }
    }
    .start-task-button {
      text-align: center;
      button {
        border-radius: 20px;
        padding: 0px 30px;
        font-size: 13px !important;
      }
    }
  }

}
