<!--
  Generated template for the TermsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>

  <!-- start nav -->

  <div class="header-logo-section" padding>
    <div class="logo-holder">
      <button ion-button clear class="slider-menu-button" menuToggle>
        <ion-icon ios="ios-menu" md="ios-menu" name="menu"></ion-icon>
        <ion-icon class="top-notification" *ngIf="userProvider.user.adNotifications + userProvider.user.taskNotifications > 0" color="danger" name="alert" ></ion-icon>
      </button>
      <img src="assets/svgs/logo.svg">
    </div>
    <div class="user-icon">
      <img (tap)="userDetail()" src="assets/svgs/user-icon.svg">
    </div>
  </div>

  <div class="header-title-section" padding>
    <div class="title-holder">
      <p>Privacy Policy</p>
    </div>
    <div class="user-coins">
      <img src="assets/svgs/icons svg compressed-03.svg">{{userProvider.points}}
    </div>
  </div>

  <!-- end nav -->

  <div class="terms-content" padding>


    <p>
      It is STROM Network’s policy to respect your privacy regarding any information we may collect while operating our website. This Privacy Policy applies to www.stromnetwork.com (hereinafter, "us", "we", or "www.stromnetwork.com"). We respect your privacy and are committed to protecting personally identifiable information you may provide us through the Website. We have adopted this privacy policy ("Privacy Policy") to explain what information may be collected on our Website, how we use this information, and under what circumstances we may disclose the information to third parties. This Privacy Policy applies only to information we collect through the Website and does not apply to our collection of information from other sources.
    </p>

    <p>
      This Privacy Policy, together with the Terms and conditions posted on our Website, set forth the general rules and policies governing your use of our Website. Depending on your activities when visiting our Website, you may be required to agree to additional terms and conditions.
    </p>

    <p>
      - Website Visitors<br>
      Like most website operators, STROM Network collects non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. STROM Network’s purpose in collecting non-personally identifying information is to better understand how STROM Network’s visitors use its website. From time to time, STROM Network may release non-personally-identifying information in the aggregate, e.g., by publishing a report on trends in the usage of its website.
    </p>

    <p>
      - Gathering of Personally-Identifying Information <br>
      Certain visitors to STROM Network’s websites choose to interact with STROM Network in ways that require STROM Network to gather personally-identifying information. The amount and type of information that STROM Network gathers depends on the nature of the interaction. For example, we ask visitors who sign up to provide a username and email address.
    </p>

    <p>
      - Security <br>
      The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.
    </p>

    <p>
      - Advertisements <br>
      Content published by users of Strom may be for advertising purposes. Strom will not pass personally identifiable private data to the advertisers. Task code and username at most is what the advertisers get after a user starts a task.
    </p>

    <p>
      - Links To External Sites<br>
      Our Service may contain links to external sites that are not operated by us. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy and terms and conditions of every site you visit.
      We have no control over, and assume no responsibility for the content, privacy policies or practices of any third party sites, products or services.
    </p>


    <p>
      - Protection of Certain Personally-Identifying Information
      <br>
      <br>
      STROM Network discloses potentially personally-identifying and personally-identifying information only to those of its employees, contractors and affiliated organizations that
      <br>
      <br>

      (i)	need to know that information in order to process it on STROM Network’s behalf or to provide services available at STROM Network’s website,<br>
      (ii)	that have agreed not to disclose it to others. Some of those employees, contractors and affiliated organizations may be located outside of your home country; by using STROM Network’s website, you consent to the transfer of such information to them. STROM Network will not rent or sell potentially personally-identifying and personally-identifying information to anyone. Other than to its employees, contractors and affiliated organizations, as described above, STROM Network discloses potentially personally-identifying and personally-identifying information only in response to a subpoena, court order or other governmental request, or when STROM Network believes in good faith that disclosure is reasonably necessary to protect the property or rights of STROM Network, third parties or the public at large.
      <br>
      <br>

      If you are a registered user of http://www.stromnetwork.com and have supplied your email address, STROM Network may occasionally send you an email to tell you about new features, solicit your feedback, or just keep you up to date with what’s going on with STROM Network and our products. We primarily use our blog to communicate this type of information, so we expect to keep this type of email to a minimum. If you send us a request (for example via a support email or via one of our feedback mechanisms), we reserve the right to publish it in order to help us clarify or respond to your request or to help us support other users. STROM Network takes all measures reasonably necessary to protect against the unauthorized access, use, alteration or destruction of potentially personally-identifying and personally-identifying information.
      <br>
      <br>

      - Aggregated Statistics
      <br>
      <br>
      STROM Network may collect statistics about the behavior of visitors to its website. STROM Network may display this information publicly or provide it to others. However, STROM Network does not disclose your personally-identifying information.

      <br>
      <br>
      - Cookies
      <br>
      <br>
      To enrich and perfect your online experience, STROM Network uses "Cookies", similar technologies and services provided by others to display personalized content, appropriate advertising and store your preferences on your computer.
      <br>
      <br>
      A cookie is a string of information that a website stores on a visitor’s computer, and that the visitor’s browser provides to the website each time the visitor returns. STROM Network uses cookies to help STROM Network identify and track visitors, their usage of http://www.stromnetwork.com, and their website access preferences. STROM Network visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using STROM Network’s websites, with the drawback that certain features of STROM Network’s websites may not function properly without the aid of cookies.
      <br>
      <br>
      By continuing to navigate our website without changing your cookie settings, you hereby acknowledge and agree to STROM Network's use of cookies.
      <br>
      <br>


      - Business Transfers
      <br>
      <br>
      If STROM Network, or substantially all of its assets, were acquired, or in the unlikely event that STROM Network goes out of business or enters bankruptcy, user information would be one of the assets that is transferred or acquired by a third party. You acknowledge that such transfers may occur, and that any acquirer of STROM Network may continue to use your personal information as set forth in this policy.
      <br>
      <br>


      Privacy Policy Changes
      <br>
      <br>
      Although most changes are likely to be minor, STROM Network may change its Privacy Policy from time to time, and in STROM Network’s sole discretion. STROM Network encourages visitors to frequently check this page for any changes to its Privacy Policy. Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.
      <br>
      <br>

      - Contact Information
      <br>
      <br>
      If you have any questions about this Privacy Policy, please contact us via or phone or email admin@stromnetwork.com.
      <br>
      <br>

    </p>
  </div>


</ion-content>
