page-add-card {

    ion-content{
        background-color: #2A273D !important;
    }
    p {
        color: #ffffff;
        margin: 0;
    }
    .header-logo-section {
        margin-top: 16px;
    }
    .alignleft {
        float: left;
        width: 33.33333%;
        text-align: left;
        .topImage {
            margin-right: 15px;
            height: auto;
        }
        img {
            height: auto;
        }
    }
    .aligncenter {
        float: left;
        width: 33.33333%;
        text-align: center;
        font-size: 22px;
        line-height: 35px;
    }
    .alignright {
       float: left;
       width: 33.33333%;
       text-align: right;
    }​
    .card-header-section, .card-header {
        padding: 16px 0 0;
        margin-top: 20px;
        p {
            font-size: 12px;
            padding: 0 16px;
        }
    }
    .card-number{
        border-top: 1px solid #fff !important;
        background-color: transparent !important;
        padding: 12px 16px;
        margin-top: 15px;
        p {
            font-size: 12px;
        }
    }
    ion-list {
        margin: 0 !important;
    }
    .item-input-has-focus .label-md[stacked], .input-has-focus .label-md[stacked]{
        color: #fff !important;
        box-shadow: none !important;
    }
    .item-input .label-md, .item-select .label-md, .item-datetime .label-md, .label-ios[stacked],
    .item-label-stacked .text-input-md, .item-label-floating .text-input-md {
        color: #fff !important;
    }
    .item-ios.item-label-stacked .text-input, .item-ios.item-label-floating .text-input {
        font-size: 14px;
        color: #fff;
    }
    .list-md .item-input:last-child, .list-md .item-input-has-focus:last-child {
        border-bottom: 1px solid #fff !important;
        box-shadow: none !important;
    }
    .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
        border-bottom: 1px solid #fff !important;
    }
    .expiry-section {
        border-right: 1px solid #fff;
    }
    .expiry-section, .cvv-section {
        padding: 10px 0 0;
        .card-expiry, .card-cvv {
            background-color: transparent !important;
            border-top: none !important;
            padding-bottom: 15px;
        }
    }
    .card-cvv {
        padding-left: 45%;
    }
    .add-card-btn {
        margin-top: 150px;
        text-align: center;
        button {
            width: 80%;
            padding: 20px 0;
            font-size: 24px;
            border-radius: 30px;
        }
    }

    //added by toby

    .card-pin{
            font-family: "text-security-disc" !important;
            -webkit-text-security: disc !important;
    }

    //end added by toby

}
