<!--
  Generated template for the AddCardPage.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content no-bounce>

    <div class="header-logo-section" padding>
        <div class="alignleft">
            <img class="topImage" (tap)="goBack()" src="assets/imgs/back.png">
        </div>
        <p class="aligncenter">Add Card</p>
        <!--<div class="user-icon alignright">-->
            <!--<img (tap)="goToProfile()" src="assets/svgs/user-icon.svg">-->
        <!--</div>-->
    </div>
    <div style="clear: both;"></div>​

    <div *ngIf="!showOtp"> <!-- start pre otp div -->

        <div class="card-header">
            <p>Please fill in card details below</p>
        </div>
        <ion-list>
            <ion-item class="card-number">
                <ion-label stacked>Card Number</ion-label>
                <ion-input type="tel" [(ngModel)]="cardNumber" placeholder="XXXX XXXX XXXX XXXX"></ion-input>
            </ion-item>
        </ion-list>
        <div class="row">
            <ion-list col-4 class="expiry-section">
                <ion-item class="card-expiry">
                    <ion-label stacked>Expiry Month</ion-label>
                    <ion-input type="tel" maxlength="2" [(ngModel)]="expiryMonth" placeholder="XX"></ion-input>
                </ion-item>
            </ion-list>
            <ion-list col-4 class="expiry-section">
                <ion-item class="card-expiry">
                    <ion-label stacked>Expiry Year</ion-label>
                    <ion-input type="tel" maxlength="2" [(ngModel)]="expiryYear" placeholder="XX"></ion-input>
                </ion-item>
            </ion-list>
            <ion-list col-4 class="cvv-section">
                <ion-item class="card-cvv">
                    <ion-label stacked>CVV</ion-label>
                    <ion-input type="tel" maxlength="3" [(ngModel)]="cvv" placeholder="XXX"></ion-input>
                </ion-item>
            </ion-list>
        </div>
        <div class="row">
            <ion-list col-2 class="expiry-section">
                <ion-item class="card-expiry">
                    <!--<ion-label stacked>Expiry Month</ion-label>-->
                    <!--<ion-input type="tel" [(ngModel)]="expiryMonth" placeholder="00"></ion-input>-->
                </ion-item>
            </ion-list>
            <ion-list col-8 class="expiry-section">
                <ion-item class="card-expiry">
                    <ion-label stacked>PIN</ion-label>
                    <ion-input class="card-pin" type="tel" maxlength="5" [(ngModel)]="pin" placeholder="XXXX"></ion-input>
                </ion-item>
            </ion-list>
            <ion-list col-2 class="cvv-section">
                <ion-item class="card-cvv">
                    <!--<ion-label stacked>CVV</ion-label>-->
                    <!--<ion-input type="tel" [(ngModel)]="cvv" placeholder="XXX"></ion-input>-->
                </ion-item>
            </ion-list>
        </div>


        <div align="center">
            <ion-spinner name="crescent" *ngIf="loading"></ion-spinner>
        </div>

        <div class="add-card-btn">
            <button block (tap)="addCard()" class="strom-orange-button">Add Card</button>
        </div>


    </div>

    <!-- UI for showing otp and authorizing payment -->

    <div *ngIf="showOtp">
        <div class="card-header">
            <p>
                {{paymentMessage}}
            </p>
        </div>

        <ion-list>
            <ion-item class="card-number">
                <ion-label stacked>OTP</ion-label>
                <ion-input type="tel" [(ngModel)]="otp" placeholder="XXXXX"></ion-input>
            </ion-item>
        </ion-list>



        <div align="center">
            <ion-spinner name="crescent" *ngIf="loading"></ion-spinner>
        </div>

        <div class="add-card-btn">
             <button block (tap)="authorizePayment()" class="strom-orange-button">Authorize Payment</button>
        </div>

    </div>
</ion-content>
